Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:bug: Add optim_recipe optional arg to baselines; Fixes #113
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
Due: none

:wrench: Update package version
  docs/source/conf.py
  docs/source/references.rst
  pyproject.toml
Due: check-toml

:wrench: Add pyrightconfig to gitignore
  .gitignore
Due: none

:shirt: Fix AURC plots
  torch_uncertainty/metrics/classification/risk_coverage.py
Due: none

:bug: Other AURC curve fix
  torch_uncertainty/metrics/classification/risk_coverage.py
Due: none

:shirt: Improve (Wide)ResNet flexibility
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/lpbnn.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: none

:bug: Improve Laplace support & Fix OOD+PP
  torch_uncertainty/post_processing/laplace.py
  torch_uncertainty/routines/classification.py
Due: none

:zap: Prepare fixing PR
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:bug: Fix gitignore
  .gitignore
Due: none

:shirt: Finish improving Laplace support
  torch_uncertainty/post_processing/laplace.py
Due: none

:art: Rework test result display on terminal using rich
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:heavy_plus_sign: Add rich>=10.2.2 as dependency
  pyproject.toml
Due: check-toml

:zap: Update for release
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:wrench: Ignore temporary dead code
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:bug: Always use TUTrainer
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_der_cubic.py
  auto_tutorials_source/tutorial_evidential_classification.py
  auto_tutorials_source/tutorial_mc_batch_norm.py
  docs/source/quickstart.rst
Due: none

:computer: Sync all epoch level metric logs
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/segmentation.py
Due: none

:shirt: AURC & AUGRC in %
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:shirt: Improve datamodules
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
  torch_uncertainty/datamodules/segmentation/camvid.py
  torch_uncertainty/datamodules/segmentation/cityscapes.py
  torch_uncertainty/datamodules/segmentation/muad.py
Due: none

:bug: Add correct classes of CamVid
  torch_uncertainty/datasets/segmentation/camvid.py
Due: none

:bug: Fix Camvid img size
  torch_uncertainty/datamodules/segmentation/camvid.py
Due: none

:sparkles: Add CamVid class grouping & deeplab config
  experiments/segmentation/camvid/configs/deeplab.yaml
  experiments/segmentation/camvid/configs/segformer.yaml
  experiments/segmentation/camvid/deeplab.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/segmentation/camvid.py
  torch_uncertainty/datasets/segmentation/camvid.py
Due: check-yaml

:shirt: Finish standardizing WideResNet defaults
  torch_uncertainty/models/wideresnet/packed.py
Due: none

:sparkles: Add Focal Loss
  docs/source/api.rst
  docs/source/references.rst
  torch_uncertainty/losses/__init__.py
  torch_uncertainty/losses/classification.py
Due: none

:racehorse: Avoid computing some metrics twice
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/segmentation.py
Due: none

:sparkles: Show RMSE at the end of the validation in regression
  tests/models/test_wideresnets.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
Due: none

:shirt: Start transforms by ToTensor
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
Due: none

:shirt: Cutout full torch implementation
  torch_uncertainty/transforms/cutout.py
Due: none

:white_check_mark: Update tests
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/classification/test_cifar100.py
  tests/datamodules/classification/test_mnist.py
Due: none

:zap: Update dependencies
  pyproject.toml
Due: check-toml

:heavy_minus_sign: Make glest optional
  pyproject.toml
  torch_uncertainty/metrics/classification/grouping_loss.py
Due: check-toml

:heavy_minus_sign: Make scipy and cv2 optional
  pyproject.toml
  torch_uncertainty/datasets/muad.py
  torch_uncertainty/datasets/nyu.py
  torch_uncertainty/metrics/classification/grouping_loss.py
  torch_uncertainty/post_processing/laplace.py
  torch_uncertainty/transforms/mixup.py
Due: check-toml

:bug: Small img transforms fixes
  torch_uncertainty/transforms/image.py
Due: none

:sparkles: Add shift transforms
  torch_uncertainty/transforms/corruption.py
Due: none

:heavy_plus_sign: Add Wand as optionnal dependency
  pyproject.toml
Due: check-toml

:bug: Fix RNGs
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Add other implementations for PackedLinear
  torch_uncertainty/layers/packed.py
Due: none

:sparkles: Start adding --eval-shift
  experiments/classification/cifar100/configs/resnet18/standard.yaml
  tests/datamodules/classification/test_cifar100.py
  tests/datamodules/classification/test_mnist.py
  torch_uncertainty/baselines/classification/deep_ensembles.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
  torch_uncertainty/utils/cli.py
  torch_uncertainty/utils/evaluation_loop.py
Due: check-yaml

:fire: Update TinyImagenet exp
  experiments/classification/tiny-imagenet/configs/resnet18/standard.yaml
  experiments/classification/tiny-imagenet/resnet.py
Due: check-yaml

:shirt: Small tutorial change
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_evidential_classification.py
Due: none

:bug: Make parsers inherit methods
  experiments/classification/cifar10/resnet.py
  experiments/classification/cifar10/vgg.py
  experiments/classification/cifar10/wideresnet.py
  experiments/classification/cifar100/resnet.py
  experiments/classification/cifar100/vgg.py
  experiments/classification/cifar100/wideresnet.py
  experiments/classification/mnist/lenet.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
