Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: system
    types: [text]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: system
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system
  - id: check-added-large-files
    name: check-added-large-files
    entry: check-added-large-files
    language: system
  - id: ruff-check
    name: ruff-check 
    entry: ruff check
    language: python
    types_or: [python, pyi]
    require_serial: true
    args: [--force-exclude, --fix, --exit-non-zero-on-fix, --output-format, concise]
    exclude: ^auto_tutorials_source/
  - id: ruff-format
    name: ruff-format
    entry: ruff format
    language: python
    types_or: [python, pyi]
    exclude: ^auto_tutorials_source/

tests fix attempt
  tests/metrics/classification/test_calibration.py
Due: none

moved config files to hf
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/imagenet200.py
  torch_uncertainty/datasets/ood/splits/cifar10/test_mnist.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_ood_cifar10.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_ood_cifar100.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_places365.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_svhn.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_texture.txt
  torch_uncertainty/datasets/ood/splits/cifar10/test_tin.txt
  torch_uncertainty/datasets/ood/splits/cifar10/val_tin.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_cifar10.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_mnist.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_ood_cifar100.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_places365.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_svhn.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_texture.txt
  torch_uncertainty/datasets/ood/splits/cifar100/test_tin.txt
  torch_uncertainty/datasets/ood/splits/cifar100/val_tin.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_imagenet.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_inaturalist.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_ninco.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_ood_imagenet.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_openimage_o.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_ssb_hard.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/test_textures.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/val_imagenet.txt
  torch_uncertainty/datasets/ood/splits/imagenet1k/val_openimage_o.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_imagenet200.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_inaturalist.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_ninco.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_ood_imagenet200.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_openimage_o.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_ssb_hard.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/test_textures.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/val_imagenet200.txt
  torch_uncertainty/datasets/ood/splits/imagenet200/val_openimage_o.txt
  torch_uncertainty/datasets/ood/utils.py
Due: none

added more datamodule tests
  tests/datamodules/classification/test_cifar10.py
Due: none

added more datamodules tests
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/classification/test_cifar100.py
  tests/datamodules/classification/test_imagenet.py
Due: none

:white_check_mark: Fix CalibrationError failure test
  tests/metrics/classification/test_calibration.py
Due: none

📚 Fix cropped plot axis text (#55)
  auto_tutorial_source/Bayesian_Methods/tutorial_bayesian.py
  auto_tutorial_source/Classification/tutorial_ood_detection.py
  auto_tutorial_source/Ensemble_Methods/tutorial_from_de_to_pe.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_scaler.py
Due: none

:wrench: Attempt fixing `Server certificate verification failed`
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Temporary fix for UCI dataset url domain not working anymore
  .github/workflows/run-tests.yml
  tests/datamodules/classification/test_uci.py
Due: check-yaml

:wrench: update build-doc workflow file
  .github/workflows/build-docs.yml
Due: check-yaml

:art: Rename attribute `model` to `core_model` in all wrappers
  tests/models/wrappers/test_batch_ensemble.py
  tests/models/wrappers/test_mc_dropout.py
  torch_uncertainty/models/classification/lenet.py
  torch_uncertainty/models/mlp.py
  torch_uncertainty/models/wrappers/batch_ensemble.py
  torch_uncertainty/models/wrappers/checkpoint_collector.py
  torch_uncertainty/models/wrappers/deep_ensembles.py
  torch_uncertainty/models/wrappers/ema.py
  torch_uncertainty/models/wrappers/mc_dropout.py
  torch_uncertainty/models/wrappers/stochastic.py
  torch_uncertainty/models/wrappers/swa.py
  torch_uncertainty/models/wrappers/swag.py
  torch_uncertainty/models/wrappers/zero.py
Due: none

:wrench: Update CIFAR10 experiments (script + config files)
  experiments/classification/cifar10/configs/resnet.yaml
  experiments/classification/cifar10/configs/resnet18/batched.yaml
  experiments/classification/cifar10/configs/resnet18/deep_ensembles.yaml
  experiments/classification/cifar10/configs/resnet18/masked.yaml
  experiments/classification/cifar10/configs/resnet18/mimo.yaml
  experiments/classification/cifar10/configs/resnet18/packed.yaml
  experiments/classification/cifar10/configs/resnet18/standard.yaml
  experiments/classification/cifar10/configs/resnet50/batched.yaml
  experiments/classification/cifar10/configs/resnet50/deep_ensembles.yaml
  experiments/classification/cifar10/configs/resnet50/masked.yaml
  experiments/classification/cifar10/configs/resnet50/mimo.yaml
  experiments/classification/cifar10/configs/resnet50/packed.yaml
  experiments/classification/cifar10/configs/resnet50/standard.yaml
  experiments/classification/cifar10/configs/wideresnet28x10.yaml
  experiments/classification/cifar10/configs/wideresnet28x10/batched.yaml
  experiments/classification/cifar10/configs/wideresnet28x10/deep_ensembles.yaml
  experiments/classification/cifar10/configs/wideresnet28x10/mimo.yaml
  experiments/classification/cifar10/configs/wideresnet28x10/packed.yaml
  experiments/classification/cifar10/configs/wideresnet28x10/standard.yaml
  experiments/classification/cifar10/deep_ensembles.py
  experiments/classification/cifar10/main.py
  experiments/classification/cifar10/resnet.py
  experiments/classification/cifar10/vgg.py
  experiments/classification/cifar10/wideresnet.py
Due: check-yaml

added ood tests
  tests/_dummies/__init__.py
  tests/_dummies/model.py
  tests/routines/test_classification.py
  torch_uncertainty/ood/configs/gen.yml
  torch_uncertainty/ood_criteria.py
  torch_uncertainty/routines/segmentation.py
Due: check-yaml

updated ood tutorial
  auto_tutorial_source/Classification/tutorial_ood_detection.py
Due: none

minor fixes
  docs/source/api.rst
Due: none

minor fixes
  tests/routines/test_classification.py
Due: none

attempt to fix coverage
  tests/routines/test_classification.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_imagenet200.py
  tests/datamodules/classification/test_sst2.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_imagenet200.py
Due: none

attempt to fix coverage
  tests/ood/__init__.py
  tests/ood/test_nets.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_imagenet.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/classification/test_cifar100.py
  tests/datamodules/classification/test_imagenet.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_imagenet.py
  tests/routines/test_classification.py
Due: none

attempt to fix coverage
  tests/datamodules/classification/test_cifar100.py
  tests/routines/test_classification.py
  torch_uncertainty/routines/classification.py
Due: none

:hammer: Make title and labels customizable in `CalibrationError.plot()`
  torch_uncertainty/metrics/classification/calibration_error.py
Due: none

:bug: Fix image download in `tutorial_corruption.py`
  auto_tutorial_source/Data_Augmentation/tutorial_corruption.py
Due: none

:bug: Fix `GammaConvNd` and add tests for Gamma distribution layers
  tests/layers/test_distributions.py
  torch_uncertainty/layers/distributions.py
Due: none

:white_check_mark: Improve coverage
  tests/routines/test_pixel_regression.py
Due: none

:hammer: Update segmentation experiment config files
  docs/source/cli_guide.rst
  experiments/regression/uci_datasets/deep_ensemble.py
  experiments/regression/uci_datasets/mlp.py
  experiments/segmentation/camvid/configs/deeplab.yaml
  experiments/segmentation/camvid/configs/segformer.yaml
  experiments/segmentation/camvid/deeplab.py
  experiments/segmentation/camvid/main.py
  experiments/segmentation/camvid/segformer.py
  experiments/segmentation/cityscapes/configs/deeplab.yaml
  experiments/segmentation/cityscapes/configs/segformer.yaml
  experiments/segmentation/cityscapes/deeplab.py
  experiments/segmentation/cityscapes/main.py
  experiments/segmentation/cityscapes/segformer.py
Due: check-yaml

:white_check_mark: Improve `deep_ensembles` test coverage
  tests/models/wrappers/test_deep_ensembles.py
Due: none

:wrench: Add uv.lock file
  .pre-commit-config.yaml
  uv.lock
Due: check-yaml

:books: Update contributing guidelines
  docs/source/contributing.rst
Due: none

:wrench: Update `run-tests.yml`
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: Fix `run-tests.yml`
  .github/workflows/run-tests.yml
  tests/test_cli.py
Due: check-yaml

:bug: Fix Makefile so it uses `uv`
  .github/workflows/run-tests.yml
  docs/Makefile
Due: check-yaml

:wrench: Omit `venv` folder when computing coverage
  pyproject.toml
Due: check-toml

:bug: Second attempt to omit `venv` folder from coverage
  pyproject.toml
Due: check-toml
