Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:shirt: Fix title in corruption tutorial
  auto_tutorials_source/tutorial_corruption.py
Due: none

:bug: Code now runs without glest
  pyproject.toml
  torch_uncertainty/metrics/classification/grouping_loss.py
Due: check-toml

:shirt: Improve the look of ECE's diagrams
  torch_uncertainty/metrics/classification/calibration_error.py
Due: none

:white_check_mark: Update tests
  tests/metrics/classification/test_calibration.py
Due: none

:shirt: Reformat TUTrainer
  torch_uncertainty/utils/trainer.py
Due: none

:bug: Use only lightning.pytorch
  torch_uncertainty/utils/trainer.py
Due: none

:sparkles: Add binary classification metrics when needed
  torch_uncertainty/routines/classification.py
Due: none

:bug: Fix Brier Score for Binary cls.
  torch_uncertainty/metrics/classification/brier_score.py
Due: none

:sparkles: Add BCE with LS
  docs/source/api.rst
  docs/source/references.rst
  torch_uncertainty/losses/__init__.py
  torch_uncertainty/losses/classification.py
Due: none

:hammer: Rename UCI regression dm
  docs/source/api.rst
  experiments/regression/uci_datasets/deep_ensemble.py
  experiments/regression/uci_datasets/mlp.py
  tests/datamodules/test_uci_regression.py
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datamodules/uci_regression.py
Due: none

:fire: Remove useless code line
  torch_uncertainty/datamodules/classification/cifar10.py
Due: none

:sparkles: Add UCI cls datasets
  torch_uncertainty/datasets/classification/uci/__init__.py
  torch_uncertainty/datasets/classification/uci/bank_marketing.py
  torch_uncertainty/datasets/classification/uci/dota2_games.py
  torch_uncertainty/datasets/classification/uci/htru2.py
  torch_uncertainty/datasets/classification/uci/online_shoppers.py
  torch_uncertainty/datasets/classification/uci/spam_base.py
  torch_uncertainty/datasets/classification/uci/uci_classification.py
Due: none

:sparkles: Add UCI cls dm & forgotten init
  torch_uncertainty/datamodules/classification/__init__.py
  torch_uncertainty/datamodules/classification/uci/__init__.py
  torch_uncertainty/datamodules/classification/uci/bank_marketing.py
  torch_uncertainty/datamodules/classification/uci/dota2_games.py
  torch_uncertainty/datamodules/classification/uci/htru2.py
  torch_uncertainty/datamodules/classification/uci/online_shoppers.py
  torch_uncertainty/datamodules/classification/uci/spam_base.py
  torch_uncertainty/datamodules/classification/uci/uci_classification.py
Due: none

:fire: Remove torchinfo dep.
  pyproject.toml
  tests/baselines/test_batched.py
  tests/baselines/test_masked.py
  tests/baselines/test_mc_dropout.py
  tests/baselines/test_mimo.py
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
Due: check-toml

:heavy_minus_sign: Remove tensorboard dep.
  pyproject.toml
Due: check-toml

:heavy_minus_sign: Remove hf hub from necessary dep.
  pyproject.toml
  torch_uncertainty/utils/hub.py
Due: check-toml

:heavy_minus_sign: Remove sklearn hub from necessary dep.
  pyproject.toml
  torch_uncertainty/metrics/sparsification.py
Due: check-toml

:bug: Fix small errors & make tests pass
  torch_uncertainty/datamodules/classification/uci/bank_marketing.py
  torch_uncertainty/datamodules/classification/uci/dota2_games.py
  torch_uncertainty/datamodules/classification/uci/htru2.py
  torch_uncertainty/datamodules/classification/uci/online_shoppers.py
  torch_uncertainty/datamodules/classification/uci/spam_base.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/metrics/sparsification.py
Due: none

:white_check_mark: Add some tests and improve coverage
  pyproject.toml
  tests/losses/test_classification.py
Due: check-toml

:white_check_mark: Add ds test and fix loss test
  tests/datamodules/classification/test_uci.py
  tests/losses/test_classification.py
Due: none

:fire: Delete useless dataset tests
  tests/datasets/__init__.py
  tests/datasets/segmentation/__init__.py
  tests/datasets/segmentation/test_camvid.py
  tests/datasets/segmentation/test_cityscapes.py
  tests/datasets/test_cifar.py
  tests/datasets/test_imagenet.py
  tests/datasets/test_kitti.py
  tests/datasets/test_muad.py
  tests/datasets/test_regression_toy.py
  tests/datasets/test_tiny_imagenet.py
Due: none

:bug: Fix BCEWithLogitsLSLoss so target and pred types are the same
  docs/source/api.rst
  tests/losses/test_classification.py
  torch_uncertainty/losses/__init__.py
  torch_uncertainty/losses/classification.py
Due: none

:hammer: Fix DOTA case & add all to API
  docs/source/api.rst
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datamodules/classification/__init__.py
  torch_uncertainty/datamodules/classification/uci/__init__.py
  torch_uncertainty/datamodules/classification/uci/dota2_games.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/uci/__init__.py
  torch_uncertainty/datasets/classification/uci/dota2_games.py
Due: none

:white_check_mark: Improve tests
  tests/datamodules/classification/test_uci.py
  tests/losses/test_classification.py
  torch_uncertainty/datasets/classification/uci/uci_classification.py
Due: none

:bug: Fix val split & loss args
  tests/datamodules/classification/test_uci.py
  torch_uncertainty/datasets/classification/uci/uci_classification.py
  torch_uncertainty/losses/classification.py
Due: none

:fire: Remove segformer dead code
  torch_uncertainty/models/segmentation/segformer.py
Due: none

:white_check_mark: Continue improving cov.
  tests/datamodules/classification/test_cifar10.py
  tests/metrics/classification/test_risk_coverage.py
  tests/models/test_wideresnets.py
  tests/transforms/test_corruption.py
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/layers/bayesian/lpbnn.py
Due: none

:zap: Update version for release
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:zap: Update ruff and rm np from explicit dep.
  pyproject.toml
Due: check-toml

:books: Fix typo in Quickstart
  docs/source/quickstart.rst
Due: none

:fire: Remove rich dep. as already in lightning[pytorch-extra]
  pyproject.toml
Due: check-toml

:fire: Remove matplotlib dep. as already in lightning[pytorch-extra]
  pyproject.toml
Due: check-toml

:bug: Format last file
  torch_uncertainty/post_processing/abnn.py
Due: none

:sparkles: Add codecov test analytics
  .github/workflows/run-tests.yml
Due: check-yaml

:shirt: Start improving eval loop code & simplify segformer tests & activate codecov test analysis
  tests/models/test_segformer.py
  torch_uncertainty/models/segmentation/segformer.py
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:sparkles: Add the CUB dataset
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/cub.py
  torch_uncertainty/datasets/classification/not_mnist.py
Due: none

:books: Fix docstring typo in SWAG
  torch_uncertainty/models/wrappers/swag.py
Due: none

:hammer: Rework Distribution Layers and distribution utils
  tests/layers/test_distributions.py
  torch_uncertainty/layers/distributions.py
  torch_uncertainty/utils/distributions.py
Due: none

:books: Update API Reference
  docs/source/api.rst
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
