Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    types: [text]
  - id: check-toml
    name: check-toml
    language: system
    entry: check-toml
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: black
    name: black
    language: system
    entry: black
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    types: [python]
  - id: isort
    name: isort
    language: system
    entry: isort
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system

:ok_hand: Fix flake8 error
  torch_uncertainty/utils/hub.py
Due: black, flake8, isort

:bug: Fix deep ens model & improve docs
  torch_uncertainty/metrics/mutual_information.py
  torch_uncertainty/models/deep_ensembles.py
Due: black, flake8, isort

:white_check_mark: Add tests for de
  tests/models/__init__.py
  tests/models/test_deep_ensembles.py
Due: black, flake8, isort

:heavy_check_mark: Switch to u20.04 to fix tests internet access
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-tests.yml
Due: check-yaml

Revert ":heavy_check_mark: Switch to u20.04 to fix tests internet access"
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:heavy_check_mark: Improve test coverage
  tests/models/test_resnets.py
  tests/post_processing/test_matrix_scaler.py
  tests/post_processing/test_vector_scaler.py
  tests/test_optimization_procedures.py
  tests/transforms/test_transforms.py
Due: black, flake8, isort

:white_check_mark: Continue improving test coverage
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/datamodules/test_uci_regression_datamodule.py
  tests/metrics/test_disagreement.py
Due: black, flake8, isort

:white_check_mark: Improve classification cov. & fix logits
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/_dummies/dataset.py
  tests/routines/test_classification.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:book: Format tutorials
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_pe_cifar10.py
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:book: Slightly improve the contribution page
  CONTRIBUTING.md
Due: none

:shirt: Fix title line lengths
  auto_tutorials_source/tutorial_scaler.py
  docs/source/references.rst
Due: flake8

:zap: Update packs. & switch to sph-gal 0.14
  poetry.lock
  pyproject.toml
Due: check-toml

:hammer: Refactor calibration methods dir :hammer: Give dataset in .fit() :book: Update docs
  CONTRIBUTING.md
  docs/source/contributing.rst
  tests/post_processing/test_temperature_scaler.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/calibration/__init__.py
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
Due: black, flake8, isort

:shirt: Improve losses and add somes tests
  tests/test_losses.py
  torch_uncertainty/losses.py
Due: black, flake8, isort

:sparkles: Add notMNIST dataset
  docs/source/references.rst
  torch_uncertainty/datasets/mnist_c.py
  torch_uncertainty/datasets/not_mnist.py
Due: black, flake8, isort

:sparkles: Add notMNIST to MNIST's oods
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datasets/__init__.py
Due: black, flake8, isort

:sparkles: Add dropout to Resnet std :bug: Fix MNIST ood_ds issue
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/utils/parser_addons.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/models/resnet/std.py
Due: black, flake8, isort

:book: Update README.md
  README.md
Due: none

:hammer: Switch to explicit binary metrics in cls routine
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:fire: Remove the Gen. Jensen-Shannon div.
  tests/metrics/test_jensen_shannon_divergence.py
  torch_uncertainty/metrics/__init__.py
  torch_uncertainty/metrics/jensen_shannon_divergence.py
  torch_uncertainty/metrics/mutual_information.py
Due: black, flake8, isort

:white_check_mark: Improve tests
  tests/layers/test_packed_layers.py
  tests/models/test_stochastic_model.py
  tests/routines/test_classification.py
  tests/routines/test_regression.py
  tests/test_cli.py
Due: black, flake8, isort

:white_check_mark: Improve tests :hammer: Add safeties
  tests/models/test_vggs.py
  tests/models/test_wideresnets.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/wideresnet/batched.py
Due: black, flake8, isort

:white_check_mark: Improve WRN tests
  tests/models/test_wideresnets.py
Due: black, flake8, isort

:sparkles: Add Mixup and Cutmix to cls routine :shirt: Misc
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/utils/checkpoints.py
  torch_uncertainty/utils/hub.py
Due: black, flake8, isort

:bug: Fix Stochastic model :white_check_mark: Improve tests
  tests/layers/test_bayesian_layers.py
  tests/models/test_mlps.py
  tests/models/test_stochastic_model.py
  torch_uncertainty/models/utils.py
Due: black, flake8, isort

:white_check_mark: Improve coverage
  tests/layers/test_bayesian_layers.py
  tests/models/test_deep_ensembles.py
  torch_uncertainty/models/vgg/base.py
Due: black, flake8, isort

:ok_hand: Fix E261
  torch_uncertainty/models/vgg/base.py
Due: black, flake8, isort

:white_check_mark: Finish bayesian test coverage
  tests/layers/test_bayesian_layers.py
Due: black, flake8, isort

:sparkles: Include MIMO version for ResNet and WideResNet
  experiments/classification/cifar10/wideresnet.py
  poetry.lock
  pyproject.toml
  tests/_dummies/baseline.py
  tests/baselines/test_mimo.py
  tests/models/test_deep_ensembles.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/utils/__init__.py
  torch_uncertainty/baselines/utils/parser_addons.py
  torch_uncertainty/models/resnet/__init__.py
  torch_uncertainty/models/resnet/mimo.py
  torch_uncertainty/models/wideresnet/__init__.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/transforms/mimo_format.py
  torch_uncertainty/transforms/transforms.py
Due: check-toml, black, flake8, isort

:books: Update README.md
  README.md
Due: none

:bug: Attempt at fixing test error on GitHub
  tests/models/test_deep_ensembles.py
Due: black, flake8, isort

:bug: Another attempt
  tests/models/test_deep_ensembles.py
Due: black, flake8, isort

:white_check_mark: Fix tests
  tests/models/test_deep_ensembles.py
  tests/routines/test_classification.py
  tests/test_cli.py
Due: black, flake8, isort

:wrench: Switch PR event workflow ; closes #29
  .github/workflows/run-tests.yml
Due: check-yaml

:shirt: Remove warning for format_batch_fn double save
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:wrench: Properly exclude tests in coverage :white_check_mark: Improve coverage
  tests/models/test_deep_ensembles.py
  tests/models/test_resnets.py
  tests/models/test_wideresnets.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/metrics/brier_score.py
Due: black, flake8, isort

:wrench: Properly exclude tests from cov.
  .coveragerc
Due: none

:white_check_mark: Add tests for new transforms
  tests/transforms/test_transforms.py
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/transforms/mimo_format.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

:sparkles: Add a CLI arg to enable resuming training
  tests/models/test_resnets.py
  torch_uncertainty/__init__.py
Due: black, flake8, isort

:bug: Fix scaling tutorial
  auto_tutorials_source/tutorial_scaler.py
Due: flake8
