Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    types: [text]
  - id: check-toml
    name: check-toml
    language: system
    entry: check-toml
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: black
    name: black
    language: system
    entry: black
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    types: [python]
  - id: isort
    name: isort
    language: system
    entry: isort
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system

:wrench: Test build on PR
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:fire: Remove JSD from API
  docs/source/api.rst
Due: none

:books: Fix & shorten tutorials
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:zap: Bump versions for next release
  docs/source/conf.py
  pyproject.toml
  setup.py
Due: check-toml, black, flake8, isort

:zap: Update dependencies
  poetry.lock
Due: none

:sparkles: Improve datamodules and coverage
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_imagenet_datamodule.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

:shirt: Improve coverage
  tests/models/test_deep_ensembles.py
  tests/test_losses.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/sampler.py
Due: black, flake8, isort

:shirt: Slightly improve coverage
  tests/routines/test_classification.py
  tests/test_cli.py
  tests/test_optimization_procedures.py
Due: black, flake8, isort

:bug: Fix BNNs on GPU
  torch_uncertainty/losses.py
Due: black, flake8, isort

:sparkles: Add sample method to bayesian layers
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/bayes_linear.py
Due: black, flake8, isort

:white_check_mark: Update corresponding tests
  tests/layers/test_bayesian_layers.py
Due: black, flake8, isort

:hammer: Refactor the layer directory
  tests/layers/test_batch_ensemble.py
  tests/layers/test_bayesian.py
  tests/layers/test_masksemble.py
  tests/layers/test_packed_ensemble.py
  tests/test_losses.py
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/layers/bayesian/__init__.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/layers/bayesian/sampler.py
  torch_uncertainty/layers/masksembles.py
  torch_uncertainty/layers/packed.py
  torch_uncertainty/losses.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/mlp.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/vgg/packed.py
Due: black, flake8, isort

:bug: Fix documentation
  docs/source/api.rst
Due: none

:bug: Fix freeze & add sampling method to StochasticModel :white_check_mark: Improve & fix tests
  tests/layers/test_bayesian.py
  tests/models/test_stochastic_model.py
  torch_uncertainty/models/utils.py
Due: black, flake8, isort

:bug: Fix StochasticModel and tests :book: Add VGG ref.
  docs/source/references.rst
  tests/models/test_stochastic_model.py
  torch_uncertainty/models/utils.py
Due: black, flake8, isort

:wrench: Show 10 slowest tests
  .github/workflows/run-tests.yml
Due: check-yaml

:book: Standardize to from torch import optim :shirt: Detail optim proc. output types
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_pe_cifar10.py
  experiments/classification/mnist/bayesian_lenet.py
  experiments/classification/mnist/lenet.py
  experiments/classification/tiny-imagenet/resnet.py
  experiments/regression/uci_datasets/mlp-kin8nm.py
  tests/models/test_stochastic_model.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

:heavy_check_mark: Fix stochastic model test & remove lengthy tests
  tests/models/test_resnets.py
  tests/models/test_stochastic_model.py
  tests/models/test_vggs.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/vgg/packed.py
  torch_uncertainty/models/vgg/std.py
Due: black, flake8, isort

:sparkles: Slightly improve BNNs
  experiments/classification/mnist/bayesian_lenet.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:sparkles: Continue improving BNNs & shorten a test
  tests/models/test_vggs.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/layers/bayesian/sampler.py
Due: black, flake8, isort

:memo: Improve documentation
  docs/source/_templates/class.rst
  docs/source/conf.py
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/layers/masksembles.py
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
Due: black, flake8, isort

:shirt: Small improvements
  tests/_dummies/model.py
  torch_uncertainty/layers/bayesian/sampler.py
  torch_uncertainty/metrics/fpr95.py
Due: black, flake8, isort

:sparkles: Continue refining bayesian layers
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/losses.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:fire: Revert error
  torch_uncertainty/losses.py
Due: black, flake8, isort

:bug: Fix Brier Score/Cifar-C interaction
  torch_uncertainty/datasets/cifar/cifar_c.py
Due: black, flake8, isort

:bug: Make the Mutual Info. always >0
  README.md
  torch_uncertainty/metrics/mutual_information.py
Due: black, flake8, isort

:book: Fix Scaler return type
  torch_uncertainty/post_processing/calibration/scaler.py
Due: black, flake8, isort

:bug: Fix WideResNet training script
  experiments/classification/cifar100/wideresnet.py
Due: black, flake8, isort

update `dist_estimation` parameter to be an integer
  experiments/regression/uci_datasets/mlp-kin8nm.py
  tests/_dummies/baseline.py
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
  tests/routines/test_regression.py
  tests/test_cli.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

add der loss function (it needs more tests)
  torch_uncertainty/losses.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

add tests
  tests/routines/test_regression.py
  tests/test_losses.py
  torch_uncertainty/losses.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

add the reference to the documentation
  docs/source/references.rst
Due: none

add more tests
  tests/routines/test_regression.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

add a toy regression problem
  torch_uncertainty/datamodules/cubic_regression.py
Due: black, flake8, isort

add a deep evidential regression example
  auto_tutorials_source/tutorial_der_cubic.py
Due: flake8

add `reduction` argument to the loss
  torch_uncertainty/losses.py
Due: black, flake8, isort

minor changes
  auto_tutorials_source/tutorial_der_cubic.py
Due: flake8

minor change
  auto_tutorials_source/tutorial_der_cubic.py
Due: flake8

add a new method
  README.md
Due: none
