Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:book: Add some documentation
  torch_uncertainty/transforms/corruption.py
Due: none

:book: Add a ref to the new datasets on the RM
  README.md
Due: none

:bug: Fix speckle noise
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Continue improving corruptions
  tests/transforms/test_corruption.py
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Fix saturation
  torch_uncertainty/transforms/corruption.py
Due: none

:sparkles: Add new implementation of GlassBlur
  tests/transforms/test_corruption.py
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Replace ``.permute()`` and ``.repeat()`` with ``einops.rearrange`` ``einops.repeat``
  torch_uncertainty/transforms/corruption.py
Due: none

:fire: Remove name & rename batch var
  torch_uncertainty/datasets/corrupted.py
  torch_uncertainty/transforms/corruption.py
Due: none

:ok_hand: Comply with comments
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Rework the corrupted dataset
  torch_uncertainty/datasets/corrupted.py
  torch_uncertainty/transforms/corruption.py
Due: none

:white_check_mark: Improve coverage
  tests/transforms/test_corruption.py
  torch_uncertainty/transforms/corruption.py
Due: none

:book: Add some doc on the hyperparameters
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Fixinvoluntary double unsqueeze
  torch_uncertainty/transforms/corruption.py
Due: none

:white_check_mark: Finish coverage
  tests/transforms/test_corruption.py
Due: none

:fire: Remove useless flaky test
  tests/datamodules/segmentation/test_muad.py
Due: none

:fire: Remove OriginalGlassBlur from corruption transforms
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Add corrupted datasets to init
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/muad.py
Due: none

:wrench: Use one flag for codecov
  .github/workflows/run-tests.yml
Due: check-yaml

:fire: Remove corrupted dataset from init due to circular import
  torch_uncertainty/datasets/__init__.py
Due: none

:shirt: Various improvements
  torch_uncertainty/datasets/corrupted.py
Due: none

:hammer: Post-processing `fit()` method takes a `DataLoader` instead of a `Dataset`
  tests/post_processing/test_laplace.py
  tests/post_processing/test_mc_batch_norm.py
  tests/post_processing/test_scalers.py
  torch_uncertainty/post_processing/abnn.py
  torch_uncertainty/post_processing/abstract.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/laplace.py
  torch_uncertainty/post_processing/mc_batch_norm.py
  torch_uncertainty/routines/classification.py
Due: none

:books: Update tutorials
  auto_tutorials_source/tutorial_mc_batch_norm.py
  auto_tutorials_source/tutorial_scaler.py
Due: none

:zap: Bump version
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:bug: Fix rare Fog corruption bug
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Don't overwrite CUB's root
  torch_uncertainty/datasets/classification/cub.py
Due: none

:bug: Improve Elastic Transform
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Remove comments
  torch_uncertainty/transforms/corruption.py
Due: none

:hammer: Rework post-processing set
  auto_tutorials_source/tutorial_scaler.py
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/test_abstract_datamodule.py
  tests/routines/test_classification.py
  tests/routines/test_segmentation.py
  torch_uncertainty/baselines/classification/deep_ensembles.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/segmentation/deeplab.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/segmentation.py
Due: none

:hammer: Make mc_batch_size explicit again
  auto_tutorials_source/tutorial_mc_batch_norm.py
  auto_tutorials_source/tutorial_scaler.py
  tests/post_processing/test_mc_batch_norm.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:bug: Fix Temperature Scaling tutorial
  auto_tutorials_source/tutorial_scaler.py
Due: none

:hammer: No seg plot when `trainer.datamodule is None` in `SegmentationRoutine`
  torch_uncertainty/routines/segmentation.py
Due: none

:wrench: User changed-files again
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: Run docs on self-hosted
  .github/workflows/build-docs.yml
Due: check-yaml

:wrench: Update .gitignore
  .gitignore
Due: none

:bug: Fix ``TULightningCLI`` to use positional arguments in ``super().__init__()``
  .gitignore
  torch_uncertainty/utils/cli.py
Due: none

:arrow_up: Bump package version
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:wrench: Try fixing SSH agent issue
  .github/workflows/build-docs.yml
Due: check-yaml

:wrench: Continue fixing SSH agent issue
  .github/workflows/build-docs.yml
Due: check-yaml

:bug: Fix spelling error
  .github/workflows/build-docs.yml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
