Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

check-toml:
  name: check-toml
  language: system
  entry: check-toml

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

isort:
  name: isort
  language: system
  entry: isort

:shirt: Skip lines in tutorial
  auto_tutorials_source/tutorial_bayesian.py
  docs/source/conf.py
Due: black, flake8, isort

:hammer: Do not download ood set if not needed
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/layers/bayesian_layers/sampler.py
Due: black, flake8, isort

:fire: Remove useless comment
  experiments/classification/tiny-imagenet/resnet.py
Due: black, flake8, isort

:bug: Remove useless ood download in tiny_in
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

:zap: Update packages to solve warning
  poetry.lock
Due: none

:art: Allow overridding default root in experiments
  experiments/classification/cifar10/deep_ensembles.py
  experiments/classification/cifar10/resnet.py
  experiments/classification/cifar10/vgg.py
  experiments/classification/cifar100/deep_ensembles.py
  experiments/classification/cifar100/resnet.py
  experiments/classification/cifar100/vgg.py
  experiments/classification/cifar100/wideresnet.py
  experiments/classification/mnist/bayesian_lenet.py
  experiments/classification/mnist/lenet.py
  experiments/classification/tiny-imagenet/resnet.py
Due: black, flake8, isort

:zap: Install sphinx-gallery from source
  poetry.lock
  pyproject.toml
Due: check-toml

:book: Improve bayesian tutorial and fix API
  auto_tutorials_source/tutorial_bayesian.py
  docs/source/api.rst
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/bayes_linear.py
Due: black, flake8, isort

:book: Improve tutorial & gallery homogeneity
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_pe_cifar10.py
Due: flake8

:book: Various tutorial fixes
  auto_tutorials_source/tutorial_bayesian.py
Due: flake8

:bug: Fix documentation & misc
  .github/workflows/build-docs.yml
  experiments/regression/uci_datasets/deep_ensemble.py
  experiments/regression/uci_datasets/mlp-kin8nm.py
  torch_uncertainty/layers/bayesian_layers/sampler.py
Due: check-yaml, black, flake8, isort

:bug: Fix documentation
  .github/workflows/build-docs.yml
Due: check-yaml

:shirt: Fix spaces in experiment
  experiments/classification/mnist/lenet.py
Due: black, flake8, isort

:book: Slightly improve the ReadMe
  README.md
Due: none

:zap: Update version for next release
  docs/source/conf.py
  pyproject.toml
  setup.py
Due: check-toml, black, flake8, isort

zap: Update dependencies
  poetry.lock
Due: none

:bug: Fix ImageNet A and ImageNet R
  torch_uncertainty/datasets/imagenet/base.py
Due: black, flake8, isort

:bug: Finish fixing imagenet derivatives
  torch_uncertainty/datasets/imagenet/base.py
Due: black, flake8, isort

:bug: Fix setup package name
  setup.py
Due: black, flake8, isort

:sparkles: Add Tiny-ImageNet-C
  torch_uncertainty/datasets/cifar/cifar_c.py
  torch_uncertainty/datasets/imagenet/tiny_imagenet_c.py
Due: black, flake8, isort

:book: Add reference ot ImageNet-C and Tiny-ImageNet-C
  docs/source/references.rst
Due: none

:hammer: Rename alt datasets Add TinyImageNetC and CIFARN to inits closes #36
  tests/datamodules/test_cifar10_datamodule.py
  tests/datasets/test_cifar_c.py
  tests/datasets/test_cifar_h.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/cifar/__init__.py
  torch_uncertainty/datasets/cifar/cifar_c.py
  torch_uncertainty/datasets/cifar/cifar_h.py
  torch_uncertainty/datasets/cifar/cifar_n.py
  torch_uncertainty/datasets/imagenet/__init__.py
  torch_uncertainty/datasets/imagenet/tiny_imagenet_c.py
Due: black, flake8, isort

:sparles: Add vector scaling
  README.md
  docs/source/api.rst
  docs/source/references.rst
  tests/post_processing/test_vector_scaler.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/vector_scaler.py
Due: black, flake8, isort

:sparkles: Add matrix scaler :fire: Refactor scaling codes
  README.md
  docs/source/api.rst
  docs/source/references.rst
  tests/post_processing/test_matrix_scaler.py
  tests/post_processing/test_temperature_scaler.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/matrix_scaler.py
  torch_uncertainty/post_processing/scaler.py
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

:zap: Update dependencies
  poetry.lock
Due: none

:ok_hand: solve comment
  tests/datamodules/test_cifar10_datamodule.py
Due: black, flake8, isort

:sparkles: :book: Add new tutorial on temperature scaling :fire: Remove debug print from TempScaling
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_pe_cifar10.py
  auto_tutorials_source/tutorial_scaler.py
  docs/source/references.rst
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

:book: Slightly improve the scaling tutorial
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:book: Add scaler tutorial to ReadMe
  README.md
Due: none

:fire: Remove useless code in TempScaler
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

:sparkles: Add MNIST-C
  docs/source/references.rst
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/cifar/cifar_c.py
  torch_uncertainty/datasets/mnist_c.py
Due: black, flake8, isort

:wrench: Test doc on PR target
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
Due: check-yaml

:fire: Revert - bad idea
  .github/workflows/build-docs.yml
Due: check-yaml

:book: Add License to MNIST-C
  torch_uncertainty/datasets/mnist_c.py
Due: black, flake8, isort

:ok_hand: Fix W291
  torch_uncertainty/datasets/mnist_c.py
Due: black, flake8, isort

:shirt: Add dots in scaler tutorial refs
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:book: Improve the scaler tutorial & use HF model
  auto_tutorials_source/tutorial_scaler.py
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

:lipstick: Cosmetic changes
  pyproject.toml
  setup.py
  torch_uncertainty/datasets/cifar/cifar_c.py
  torch_uncertainty/datasets/mnist_c.py
Due: check-toml, black, flake8, isort

:lipstick: Change two title levels
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:hammer: Load weights on cpu & refine ReadMe
  README.md
  torch_uncertainty/utils/hub.py
Due: black, flake8, isort

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$, but not: ^auto_tutorials_source/
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^auto_tutorials_source/
