Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

check-toml:
  name: check-toml
  language: system
  entry: check-toml

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

isort:
  name: isort
  language: system
  entry: isort

white_check_mark: Improve a test
  tests/test_utils.py
Due: black, flake8, isort

:white_check_mark: Improve a test
  tests/test_losses.py
  tests/test_utils.py
Due: black, flake8, isort

:sparkles: Add discord badge
  README.md
Due: none

:hammer: Rename enable_ll_dropout & add some doc.
  tests/models/test_vggs.py
  tests/models/test_wideresnets.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/vgg/std.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:hammer: Rename enable_ra & add some types
  tests/datamodules/test_cifar100_datamodule.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/packed.py
Due: black, flake8, isort

:ok_hand: Keep 0.3 as default dropout rate for wideresnet
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:bug: Fix val split==0 warning
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/mnist.py
Due: black, flake8, isort

:bug: Fix ood ens. classification logs
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: Fix unpushed modification
  tests/datamodules/test_cifar100_datamodule.py
Due: black, flake8, isort

:bug: Remove kwargs in MIMO
  torch_uncertainty/models/wideresnet/mimo.py
Due: black, flake8, isort

:shirt: Reorder an import
  auto_tutorials_source/tutorial_pe_cifar10.py
Due: flake8

:sparkles: Improve get_procedure for VGGs
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

:bug: Fix MC Dropout Baseline & rename dropout arg.
  tests/models/test_monte_carlo_dropout.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/utils/parser_addons.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/vgg/packed.py
  torch_uncertainty/models/vgg/std.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:sparkles: Add dropout to lenet
  torch_uncertainty/models/lenet.py
Due: black, flake8, isort

:books: Use lenet in the MC dropout tuto. & improvements
  README.md
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

:hammer: Merge and rename layer tests
  tests/layers/test_batch.py
  tests/layers/test_mask.py
  tests/layers/test_packed.py
Due: black, flake8, isort

:hammer: Rename enable dropout & improve coverage
  docs/source/references.rst
  tests/models/test_monte_carlo_dropout.py
  tests/routines/test_classification.py
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/wideresnet/std.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

:white_check_mark: Remove resnet baseline tests & improve cov.
  tests/baselines/test_deep_ensembles.py
  tests/baselines/test_mc_dropout.py
  tests/baselines/test_others.py
  tests/baselines/test_resnet.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/deep_ensembles.py
Due: black, flake8, isort

:white_check_mark: Continue improving coverage
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

fix temp scaler + add cross val + abstract datamodule
  experiments/classification/cifar10/resnet.py
  experiments/classification/tiny-imagenet/resnet.py
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/utils/__init__.py
  torch_uncertainty/utils/misc.py
Due: black, flake8, isort

fix calibration in cv
  experiments/classification/cifar10/resnet.py
  experiments/classification/tiny-imagenet/resnet.py
  torch_uncertainty/__init__.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:wrench: Relax codecov constraints
  codecov.yml
Due: check-yaml

:wrench: Relax codecov constraints, again
  codecov.yml
Due: check-yaml

:white_check_mark: Increase patch coverage
  tests/baselines/test_mc_dropout.py
  tests/datamodules/test_mnist_datamodule.py
Due: black, flake8, isort

:heavy_plus_sign: Add autocodelink dependency for docs
  poetry.lock
  pyproject.toml
Due: check-toml

:books: Slightly improve docs & tutorials
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_der_cubic.py
  auto_tutorials_source/tutorial_scaler.py
  docs/source/api.rst
  docs/source/conf.py
Due: black, flake8, isort

:wrench: Use a single 'with' in poetry install
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:book: Add recipe to build the doc locally
  CONTRIBUTING.md
  docs/source/contributing.rst
Due: none

:book: Mention the GitHub server in the readme
  README.md
Due: none

:sparkles: add evidential classification and its toy examples
  auto_tutorials_source/tutorial_dec_cubic.py
  docs/source/references.rst
  torch_uncertainty/losses.py
Due: black, flake8, isort

:books: Use lenet in the Evidential classification tuto.
  README.md
Due: none

:shirt: Fix list in contributing doc
  docs/source/contributing.rst
Due: none

:book: Add details on poetry cmd issues
  CONTRIBUTING.md
  docs/source/contributing.rst
  docs/source/installation.rst
Due: none

:books: Add method on ReadMe
  README.md
Due: none

:books: Update tutorials
  README.md
  auto_tutorials_source/tutorial_evidential_classification.py
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

:books: Simplify tutorial
  auto_tutorials_source/tutorial_evidential_classification.py
Due: flake8

:heavy_plus_sign: Add sklearn as dependency
  poetry.lock
  pyproject.toml
Due: check-toml

:shirt: Fix flake8 import issue on cls.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:art: remove self.num_classes from DECLoss
  torch_uncertainty/losses.py
Due: black, flake8, isort

:books: correct evidential classification in README.md
  README.md
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$, but not: ^auto_tutorials_source/
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^auto_tutorials_source/
