Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

check-toml:
  name: check-toml
  language: system
  entry: check-toml

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

isort:
  name: isort
  language: system
  entry: isort

:white_check_mark: Add loss tests & small improvements
  tests/test_losses.py
  torch_uncertainty/losses.py
Due: black, flake8, isort

:books: Add the DEC loss to the API
  docs/source/api.rst
  experiments/classification/cifar100/wideresnet.py
  torch_uncertainty/losses.py
Due: black, flake8, isort

:bug: Fix test bug
  tests/test_losses.py
Due: black, flake8, isort

:bug: Fix if/elif/else in DECLoss
  tests/test_losses.py
  torch_uncertainty/losses.py
Due: black, flake8, isort

:sparkles: Handle DEC in cls. routine
  tests/routines/test_classification.py
  torch_uncertainty/losses.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: Fix style issues
  tests/routines/test_classification.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:wrench: Upload coverage in pull request on dev
  .github/workflows/run-tests.yml
Due: check-yaml

:zap: modify losses.py and classification.py
  torch_uncertainty/losses.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: add newline at end of file
  torch_uncertainty/losses.py
Due: black, flake8, isort

:bug: erase the space in the newline at end of file
  torch_uncertainty/losses.py
Due: black, flake8, isort

:white_check_mark: Improve patch coverage
  tests/_dummies/baseline.py
  tests/routines/test_classification.py
  tests/test_losses.py
  torch_uncertainty/losses.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:white_check_mark: Continue improving cvg
  tests/routines/test_classification.py
Due: black, flake8, isort

:white_check_mark: Improve dropout cvg.
  tests/baselines/test_mc_dropout.py
Due: black, flake8, isort

:hammer: Switch to ruff
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/source/contributing.rst
  poetry.lock
  pyproject.toml
  setup.py
Due: check-toml, check-yaml, black, flake8, isort

:shirt: Various small improvements
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/datasets/classification/not_mnist.py
Due: black, flake8, isort

:shirt: Remove print
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: Fix lr scale #59
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

fix transforms in tiny-imagenet + qol changes
  experiments/classification/cifar10/resnet.py
  experiments/classification/tiny-imagenet/resnet.py
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

:sparkles: add beta nll, a modified GaussianNLL
  docs/source/api.rst
  docs/source/references.rst
  tests/routines/test_regression.py
  tests/test_losses.py
  torch_uncertainty/losses.py
Due: black, flake8, isort

:bug: Fix negative hist. Closes #61
  torch_uncertainty/plotting_utils.py
Due: black, flake8, isort

:shirt: Rename flake8: noqa-s
  setup.py
  tests/_dummies/__init__.py
  tests/test_optimization_procedures.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/classification/__init__.py
  torch_uncertainty/baselines/regression/__init__.py
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/cifar/__init__.py
  torch_uncertainty/datasets/classification/imagenet/__init__.py
  torch_uncertainty/datasets/regression/__init__.py
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/bayesian/__init__.py
  torch_uncertainty/metrics/__init__.py
  torch_uncertainty/models/__init__.py
  torch_uncertainty/models/resnet/__init__.py
  torch_uncertainty/models/vgg/__init__.py
  torch_uncertainty/models/vgg/configs.py
  torch_uncertainty/models/wideresnet/__init__.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/calibration/__init__.py
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/utils/__init__.py
Due: black, flake8, isort

:shirt: noqa F403s
  tests/test_optimization_procedures.py
  torch_uncertainty/models/resnet/__init__.py
  torch_uncertainty/models/vgg/__init__.py
  torch_uncertainty/models/wideresnet/__init__.py
Due: black, flake8, isort

:fire: Remove flake8 config file
  .flake8
Due: none

:book: Specify constraints on branch names
  CONTRIBUTING.md
  docs/source/contributing.rst
Due: none

:hammer: Rename ood_detection to evaluate_ood
  auto_tutorials_source/tutorial_scaler.py
  tests/_dummies/datamodule.py
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_imagenet_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:shirt: Fix Format
  tests/_dummies/datamodule.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: Fix a tutorial
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

:bug: Fix logs not in 'log' folder & missing argument
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/cifar100.py
Due: black, flake8, isort

:fire: Remove cutmix linked test & useless light.modules
  tests/_dummies/baseline.py
  tests/routines/test_classification.py
  torch_uncertainty/__init__.py
Due: black, flake8, isort

:books: add betaGaussianNLL to README
  README.md
Due: none

:bug: Fix test logs, types, lint, & format
  tests/routines/test_classification.py
  tests/routines/test_regression.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

:books: Mention adding TU to PapersWithCode
  CONTRIBUTING.md
  docs/source/contributing.rst
Due: none

:sparkles: Add Sparsification Error with plot method
  docs/source/api.rst
  poetry.lock
  pyproject.toml
  torch_uncertainty/metrics/__init__.py
  torch_uncertainty/metrics/calibration_error.py
  torch_uncertainty/metrics/sparsification.py
  torch_uncertainty/routines/classification.py
Due: check-toml, black, flake8, isort

fix cross-val for c10 / c100 + test on mixup
  experiments/classification/cifar10/resnet.py
  experiments/classification/tiny-imagenet/resnet.py
  tests/transforms/test_mixup.py
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/transforms/mixup.py
  torch_uncertainty/utils/__init__.py
  torch_uncertainty/utils/misc.py
Due: black, flake8, isort

add tests crossval
  tests/_dummies/dataset.py
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/test_cli.py
Due: black, flake8, isort

:white_check_mark: Add some tests
  tests/datamodules/test_abstract_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/test_cli.py
  tests/test_optimization_procedures.py
  torch_uncertainty/datamodules/abstract.py
Due: black, flake8, isort

:bug: Fix format error
  tests/_dummies/dataset.py
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
Due: black, flake8, isort

:white_check_mark: Improve cvg., fix bug, and sort imports
  tests/_dummies/dataset.py
  tests/routines/test_regression.py
  tests/test_cli.py
  tests/test_losses.py
  tests/test_optimization_procedures.py
  tests/transforms/test_transforms.py
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/cifar/cifar_h.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/layers/bayesian/sampler.py
  torch_uncertainty/layers/masksembles.py
  torch_uncertainty/metrics/fpr95.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/transforms/cutout.py
  torch_uncertainty/transforms/mixup.py
  torch_uncertainty/transforms/pixmix.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$, but not: ^auto_tutorials_source/
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^auto_tutorials_source/
