Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:heavy_plus_sign: / :heavy_minus_sign: Replace wand by kornia
  pyproject.toml
Due: check-toml

:hammer: Use kornia's motion blur & remove useless covignores
  torch_uncertainty/transforms/corruption.py
Due: none

:book: Improve the clarity of the OOD detection behavior #139
  torch_uncertainty/routines/classification.py
Due: none

:white_check_mark: Fix cov
  tests/transforms/test_corruption.py
Due: none

:shirt: Fix typo in corruption.py
  torch_uncertainty/transforms/corruption.py
Due: none

:art: Change homepage color
  docs/source/_sass/index.scss
  docs/source/_static/index.css
  docs/source/_templates/custom_index.html
Due: none

:hammer: Use `einops.repeat` instead of `torch.repeat` in `RepeatTarget`
  torch_uncertainty/transforms/batch.py
Due: none

:hammer: Refine BatchEnsemble layers and add conversion methods
  torch_uncertainty/layers/batch_ensemble.py
Due: none

:hammer: `BatchEnsemble` wrapper overhaul
  experiments/classification/mnist/configs/lenet_batch_ensemble.yaml
  tests/layers/test_batch.py
  tests/models/wrappers/test_batch_ensemble.py
  torch_uncertainty/models/__init__.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/wrappers/__init__.py
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: check-yaml

:books: Add BatchEnsemble wrapper utilities in the API Reference
  docs/source/api.rst
Due: none

:book: `BatchEnsemble` docstring update
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:wrench: Add doc trigger when ready for review
  .github/workflows/build-docs.yml
Due: check-yaml

:wrench: Bump version
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:bug: Fix triggers
  .github/workflows/build-docs.yml
Due: check-yaml

:bug: Fix pytest triggers
  .github/workflows/run-tests.yml
Due: check-yaml

:shirt: Update according PR comments
  .gitignore
  torch_uncertainty/models/wrappers/batch_ensemble.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/image.py
Due: none

:ok_hand: Comply with cosmetic comments
  docker/DOCKER.md
Due: none

:white_check_mark: Finish coverage
  tests/models/wrappers/test_batch_ensemble.py
  tests/post_processing/test_scalers.py
Due: none

:wrench: rework optional dependency groups
  pyproject.toml
Due: check-toml

:fire: Remove sklearn and np in AUSE
  torch_uncertainty/metrics/sparsification.py
Due: none

:fire: Remove overriding of cst types
  torch_uncertainty/metrics/classification/adaptive_calibration_error.py
  torch_uncertainty/metrics/classification/brier_score.py
  torch_uncertainty/metrics/classification/disagreement.py
  torch_uncertainty/metrics/classification/entropy.py
  torch_uncertainty/metrics/classification/fpr.py
  torch_uncertainty/metrics/classification/grouping_loss.py
  torch_uncertainty/metrics/classification/mean_iou.py
  torch_uncertainty/metrics/classification/mutual_information.py
  torch_uncertainty/metrics/classification/risk_coverage.py
  torch_uncertainty/metrics/classification/variation_ratio.py
Due: none

:bug: Fix NaN handling in AUSE & add test
  pyproject.toml
  tests/metrics/test_sparsification.py
  torch_uncertainty/metrics/classification/risk_coverage.py
  torch_uncertainty/metrics/sparsification.py
Due: check-toml

:racehorse: Don't download MNISTC in tests
  tests/datamodules/classification/test_mnist.py
Due: none

:hammer: Improve memory efficiency & small fix
  torch_uncertainty/post_processing/calibration/scaler.py
Due: none

:hammer: Rename x to inputs
  torch_uncertainty/post_processing/abstract.py
  torch_uncertainty/post_processing/laplace.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:shirt: Some more small improvements
  torch_uncertainty/post_processing/laplace.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:hammer: make batch size and other parameters configurable in scaler fit method
  torch_uncertainty/post_processing/calibration/scaler.py
Due: none

:bug: Fix corruption for non square images
  torch_uncertainty/transforms/corruption.py
Due: none

:heavy_minus_sign: Remove scikit-image dependency
  pyproject.toml
Due: check-toml

:hammer: Start improving corrupted dataset
  torch_uncertainty/datasets/corrupted.py
Due: none

:bug: Follow Hendryck more closely for Impulse noise
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Continue improving corruption and dataset
  torch_uncertainty/datasets/corrupted.py
  torch_uncertainty/transforms/corruption.py
Due: none

:bug: Continue fixing transforms
  torch_uncertainty/transforms/corruption.py
Due: none

:white_check_mark: Fix corruption test
  tests/transforms/test_corruption.py
Due: none

:zap: Update cls dms to v2
  tests/_dummies/datamodule.py
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
Due: none

:hammer: Update transforms in dms for cls and seg
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
  torch_uncertainty/datamodules/segmentation/camvid.py
Due: none

:bug: Finish fixing corruptions
  torch_uncertainty/transforms/corruption.py
Due: none

:fire: Temporarily remove tj-actions/changed-files@v42
  .github/workflows/run-tests.yml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
