Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:whale: Optimize build time and run shell prompt in initial setup
  Dockerfile
Due: none

:books: Add documentation for using Docker image
  DOCKER.md
  README.md
Due: none

:whale: Install dependencies in editable mode
  Dockerfile
Due: none

:fire: Don't install torchaudio when doing tests
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Fix deleted tutorial
  auto_tutorials_source/Classification/README.txt
  auto_tutorials_source/Model_Calibration/tutorial_corruption.py
  docs/source/conf.py
Due: none

:shirt: Improve homepage
  docs/source/_templates/custom_index.html
Due: none

:bug: Fix pip install in editable mode
  Dockerfile
Due: none

:bug: Fix MNIST test dataloader for shifted data
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datasets/classification/mnist_c.py
Due: none

:hammer: Fix and format container start script and move it to entrypoint.sh
  Dockerfile
  README.md
  docker/DOCKER.md
  docker/entrypoint.sh
Due: none

:bug: Fix `RandomRescale`
  torch_uncertainty/transforms/image.py
Due: none

:shirt: Add scaler exception
  torch_uncertainty/post_processing/calibration/scaler.py
Due: none

:shirt: Move Docker in the installation section
  README.md
Due: none

:bug: Fast track config fixes
  .gitignore
  experiments/classification/mnist/configs/bayesian_lenet.yaml
  experiments/classification/mnist/configs/lenet.yaml
  experiments/classification/mnist/configs/lenet_checkpoint_ensemble.yaml
  experiments/classification/mnist/configs/lenet_ema.yaml
  experiments/classification/mnist/configs/lenet_swa.yaml
  experiments/classification/mnist/configs/lenet_swag.yaml
Due: check-yaml

:fire: Remove shift-severity in MNISTC
  torch_uncertainty/datasets/classification/mnist_c.py
Due: none

:book: Update test dataloaders docstring
  torch_uncertainty/datamodules/classification/cifar10.py
  torch_uncertainty/datamodules/classification/cifar100.py
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datamodules/classification/mnist.py
  torch_uncertainty/datamodules/classification/tiny_imagenet.py
Due: none

:hammer: use datamodule's shift-severity
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/routines/classification.py
Due: none

:white_check_mark: Fix coverage
  tests/datamodules/classification/test_mnist.py
Due: none

:fire: Remove documentation for removed argument
  torch_uncertainty/datasets/classification/mnist_c.py
Due: none

:bug: Add missing learning rate scheduler class paths to lenet configs
  experiments/classification/mnist/configs/lenet_checkpoint_ensemble.yaml
  experiments/classification/mnist/configs/lenet_ema.yaml
Due: check-yaml

:sparkles: Add BatchEnsemble wrapper
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:books: Update documentation regarding (batch) ensemble usage
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/routines/classification.py
Due: none

:sparkles: Add LeNet BatchEnsemble and Deep Ensemble
  experiments/classification/mnist/configs/lenet_batch_ensemble.yaml
  experiments/classification/mnist/configs/lenet_deep_ensemble.yaml
  torch_uncertainty/models/lenet.py
Due: check-yaml

:book: State support of Python 3.13
  pyproject.toml
Due: check-toml

:bug: Make sklearn optional. Fix #136
  torch_uncertainty/datamodules/abstract.py
Due: none

:shirt: Refine dependencies and import error messages
  pyproject.toml
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/metrics/sparsification.py
Due: check-toml

:zap: Update ruff and lint
  pyproject.toml
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/cifar/cifar_h.py
  torch_uncertainty/datasets/classification/cifar/cifar_n.py
  torch_uncertainty/datasets/classification/cub.py
  torch_uncertainty/datasets/classification/imagenet/base.py
  torch_uncertainty/datasets/classification/not_mnist.py
  torch_uncertainty/datasets/fractals.py
  torch_uncertainty/datasets/frost.py
  torch_uncertainty/datasets/muad.py
  torch_uncertainty/datasets/regression/uci_regression.py
  torch_uncertainty/datasets/segmentation/camvid.py
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/filter_response_norm.py
  torch_uncertainty/layers/functional/packed.py
  torch_uncertainty/layers/packed.py
  torch_uncertainty/losses/bayesian.py
  torch_uncertainty/losses/classification.py
  torch_uncertainty/losses/regression.py
  torch_uncertainty/metrics/classification/fpr.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/mc_batch_norm.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
  torch_uncertainty/transforms/corruption.py
  torch_uncertainty/utils/distributions.py
Due: check-toml

:fire: Remove torchaudio from workflows
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:shirt: Lint
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:whale: Update Dockerfile
  Dockerfile
Due: none

:shirt: Also format
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:white_check_mark: Add test for BatchEnsemble wrapper and LeNet implementation
  tests/models/test_lenet.py
Due: none

:bug: Fix `extended_out_features` computation in `PackedLinear`
  torch_uncertainty/layers/packed.py
Due: none

:white_check_mark: Update PackedLinear tests
  tests/layers/test_packed.py
Due: none

:whale: Install pre-commit hooks on container start
  README.md
  docker/entrypoint.sh
Due: none

:art: Format PackedLinear
  torch_uncertainty/layers/functional/packed.py
Due: none

:shirt: Lint
  torch_uncertainty/layers/functional/packed.py
  torch_uncertainty/layers/packed.py
Due: none

:heavy_check_mark: Add test for BatchEnsemble wrapper and fix bug in batch replication
  tests/models/wrappers/test_batch_ensemble.py
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:ok_hand: Comply with PEP 257
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:books: Add note that BatchEnsemble wrapper expects model to use BatchEnsemble layers
  torch_uncertainty/models/wrappers/batch_ensemble.py
Due: none

:hammer: Refactor BatchEnsemble test case to use framework's test format
  tests/models/wrappers/test_batch_ensemble.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
