Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: system
    types: [text]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: system
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system
  - id: check-added-large-files
    name: check-added-large-files
    entry: check-added-large-files
    language: system
  - id: ruff-check
    name: ruff-check 
    entry: ruff check
    language: python
    types_or: [python, pyi]
    require_serial: true
    args: [--force-exclude, --fix, --exit-non-zero-on-fix, --output-format, concise]
    exclude: ^auto_tutorials_source/
  - id: ruff-format
    name: ruff-format
    entry: ruff format
    language: python
    types_or: [python, pyi]
    exclude: ^auto_tutorials_source/

:sparkles: Add inception time tests
  tests/models/classification/test_inception_time.py
Due: none

:bug: Rebase
  auto_tutorial_source/Bayesian_Methods/tutorial_bayesian.py
  auto_tutorial_source/Bayesian_Methods/tutorial_mc_batch_norm.py
  auto_tutorial_source/Bayesian_Methods/tutorial_mc_dropout.py
  auto_tutorial_source/Bayesian_Methods/tutorial_muad_mc_drop.py
  auto_tutorial_source/Classification/tutorial_classification.py
  auto_tutorial_source/Classification/tutorial_distribution_shift.py
  auto_tutorial_source/Classification/tutorial_evidential_classification.py
  auto_tutorial_source/Classification/tutorial_ood_detection.py
  auto_tutorial_source/Classification/tutorial_pe_cifar10.py
  auto_tutorial_source/Data_Augmentation/tutorial_corruption.py
  auto_tutorial_source/Ensemble_Methods/tutorial_from_de_to_pe.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_conformal.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_scaler.py
  auto_tutorial_source/Regression/tutorial_der_cubic.py
  auto_tutorial_source/Regression/tutorial_probabilistic_regression.py
  auto_tutorial_source/Regression/tutorial_regression.py
  auto_tutorial_source/Segmentation/tutorial_muad_deep_en.py
  auto_tutorial_source/Segmentation/tutorial_muad_packed.py
  auto_tutorial_source/Segmentation/tutorial_muad_seg.py
  tests/test_optim_recipes.py
  torch_uncertainty/datamodules/classification/uci/uci_classification.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/layers/bayesian/__init__.py
  torch_uncertainty/layers/modules.py
  torch_uncertainty/models/classification/vgg/configs.py
Due: none

Fixes #204
  .github/workflows/pypi-publish.yml
Due: check-yaml

:white_check_mark: Add tests for the Bayesian Inception Time
  tests/models/classification/test_inception_time.py
Due: none

:hammer: Refactor UCR UEA datamodule & add tests
  tests/_dummies/dataset.py
  tests/datamodules/classification/test_ucr_uea.py
  torch_uncertainty/datamodules/classification/ucr_uea.py
Due: none

:white_check_mark: Improve recent changes tests
  tests/datamodules/classification/test_ucr_uea.py
  tests/layers/test_batch.py
  tests/layers/test_packed.py
Due: none

:books: Update readme.md in experiments folder
  experiments/readme.md
  experiments/regression/uci_datasets/readme.md
  experiments/segmentation/readme.md
Due: none

:wrench: Bump package version
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:books: Add QuantileCalibrationError to API Reference
  docs/source/api.rst
Due: none

added vit code and tutorial
  auto_tutorial_source/Classification/tutorial_vit.py
  torch_uncertainty/models/classification/vit/__init__.py
  torch_uncertainty/models/classification/vit/packedvit.py
Due: none

:bug: Fix PyPI script
  .github/workflows/pypi-publish.yml
Due: check-yaml

:bug: Protect TSLearn optional dep
  torch_uncertainty/datasets/classification/ucr_uea.py
Due: none

:green_heart: Improve minimal dependency testing
  .github/workflows/run-tests.yml
Due: check-yaml

:fire: Remove baseline code
  docs/source/api.rst
  tests/baselines/__init__.py
  tests/baselines/test_batched.py
  tests/baselines/test_deep_ensembles.py
  tests/baselines/test_masked.py
  tests/baselines/test_mc_dropout.py
  tests/baselines/test_mimo.py
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/classification/__init__.py
  torch_uncertainty/baselines/classification/deep_ensembles.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/depth/__init__.py
  torch_uncertainty/baselines/depth/bts.py
  torch_uncertainty/baselines/regression/__init__.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/baselines/segmentation/__init__.py
  torch_uncertainty/baselines/segmentation/deeplab.py
  torch_uncertainty/baselines/segmentation/segformer.py
Due: none

:white_check_mark: Adapt test
  tests/test_cli.py
Due: none

Update torch_uncertainty/datasets/classification/ucr_uea.py
  torch_uncertainty/datasets/classification/ucr_uea.py
Due: none

:zap: Update version number
  docs/source/conf.py
  pyproject.toml
  torch_uncertainty/datasets/classification/ucr_uea.py
Due: check-toml

:recycle: Replace model by routine in TULightningCLI
  torch_uncertainty/utils/cli.py
Due: none

:book: Add one paper using TU
  README.md
Due: none

:white_check_mark: Fix CLI test
  tests/test_cli.py
Due: none

:lipstick: Show val NLL in probabilistic regression
  torch_uncertainty/routines/regression.py
Due: none

:pushpin: Pin package versions
  pyproject.toml
Due: check-toml

📚 Remove MCDropout class from docs
  docs/source/api.rst
Due: none

:lipstick: Small improvement for the EMA
  torch_uncertainty/models/wrappers/ema.py
Due: none

:shirt: Format
  tests/datamodules/classification/test_ucr_uea.py
  tests/layers/test_batch.py
  torch_uncertainty/models/wrappers/ema.py
Due: none

:sparkles: Add support for the Gamma distribution
  torch_uncertainty/layers/distributions.py
  torch_uncertainty/utils/distributions.py
Due: none

added sst2 datamodule and nlp tutorial
  auto_tutorial_source/Classification/tutorial_bert.py
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datamodules/classification/__init__.py
  torch_uncertainty/datamodules/classification/sst2.py
Due: none

minor fixes
  auto_tutorial_source/Classification/tutorial_bert.py
  auto_tutorial_source/Classification/tutorial_vit.py
  pyproject.toml
  tests/test_optim_recipes.py
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datamodules/classification/__init__.py
  torch_uncertainty/datamodules/classification/sst2.py
  torch_uncertainty/datamodules/classification/uci/uci_classification.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/layers/bayesian/__init__.py
  torch_uncertainty/layers/modules.py
  torch_uncertainty/models/classification/vgg/configs.py
  torch_uncertainty/models/classification/vit/__init__.py
  torch_uncertainty/models/classification/vit/packedvit.py
Due: check-toml

fixed typo
  auto_tutorial_source/Classification/tutorial_bert.py
Due: none

fixed dependecies
  pyproject.toml
Due: check-toml

:bug: Add forgotten mlps to all
  torch_uncertainty/metrics/classification/calibration_error.py
  torch_uncertainty/models/mlp.py
  torch_uncertainty/routines/regression.py
Due: none

📚 Fix cropped plot axis text (#55)
  auto_tutorial_source/Bayesian_Methods/tutorial_bayesian.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_scaler.py
Due: none

:lipstick: remove output plot type
  torch_uncertainty/metrics/classification/calibration_error.py
Due: none

:sparkles: implement a first version of empirical quantile calibration
  torch_uncertainty/metrics/regression/quantile_calibration.py
Due: none

fix formatting issue
  torch_uncertainty/routines/classification.py
Due: none

fixed imagenet test
  tests/datamodules/classification/test_imagenet.py
Due: none
