Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black
      types: [python]
      exclude: ^auto_tutorials_source/
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]
    # - id: mypy
    #   name: mypy
    #   language: system
    #   entry: mypy
    #   types: [python]
    - id: isort
      name: isort
      language: system
      entry: isort
      types: [python]
      exclude: ^auto_tutorials_source/
    - id: pytest-check
      name: pytest-check
      entry: pytest
      language: system
      pass_filenames: false
      always_run: true

Switch server for the coverage badge :wrench: Increase legibility of the raw Readme
  README.md
Due: none

Slightly improve (Tiny)ImageNet datamodules :sparkles:
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

Slightly improve the documentation :books:
  docs/source/installation.rst
  docs/source/introduction_uncertainty.rst
  docs/source/quickstart.rst
Due: none

Start the implementation of PixMix :sparkles: :construction: Slightly improve docstrings :books:
  torch_uncertainty/datasets/imagenet_o.py
  torch_uncertainty/datasets/imagenet_r.py
  torch_uncertainty/datasets/mixing_set.py
  torch_uncertainty/transforms/cutout.py
  torch_uncertainty/transforms/generic.py
  torch_uncertainty/transforms/pixmix.py
Due: black, flake8, isort

Rename publish workflow :wrench:
  .github/workflows/pypi-publish.yml
Due: none

Update dependencies (including theme) :zap: :shirt:
  poetry.lock
Due: none

Fix broken link and remove rst warning in docs :books:
  docs/source/quickstart.rst
  docs/source/references.rst
Due: none

Refactor dummies :hammer: Add a dummy network Make the dummy dataset class more flexible
  tests/_dummies/__init__.py
  tests/_dummies/dataset.py
  tests/_dummies/model.py
  tests/_dummies/test_dummy_dataset.py
  tests/_dummies/transform.py
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_imagenet_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/transforms/test_cutout.py
  torch_uncertainty/transforms/cutout.py
Due: black, flake8, isort

Update pyproject.toml :wrench:
  pyproject.toml
Due: none

Remove misleading comment in pe_cifar10_tutorial.py :books:
  auto_tutorials_source/pe_cifar10_tutorial.py
Due: flake8

Improve the pre-commit hooks :wrench: Add the pre-commit-hooks package :heavy_plus_sign: Solve the new hooks' issues :lipstick: Create a contributing page :books: Add a reference to WR :book:
  .coveragerc
  .flake8
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  auto_tutorials_source/README.rst
  data/README.md
  docs/source/_static/css/custom.css
  docs/source/api.rst
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction_uncertainty.rst
  docs/source/references.rst
  poetry.lock
  pyproject.toml
Due: none

Add a test for routines :white_check_mark: Add dummy baselines and datamodules :sparkles: Fix dummy models and datasets :bug:
  tests/_dummies/__init__.py
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/_dummies/dataset.py
  tests/_dummies/model.py
  tests/test_cli.py
  torch_uncertainty/__init__.py
Due: black, flake8, isort

Fix CLI test :heavy_plus_sign: :heavy_check_mark:
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: black, flake8, isort

Add large file hook :wrench: and rm useless hook file :fire:
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

Remove useless conditions :fire:
  tests/_dummies/datamodule.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

Reorder pre-commit config :wrench: Temporary solution for the note issue on the installation page :docs:
  .pre-commit-config.yaml
  docs/source/installation.rst
Due: none

Propose a simplification of the baselines :construction:
  torch_uncertainty/baselines/standard/resnet_old.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Add a PackedBaseline to show triple inheritance :construction:
  torch_uncertainty/baselines/packed/packed.py
  torch_uncertainty/baselines/packed/resnet_old.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

ReadMe: Add WIP :construction: to the pretrained weights information
  README.md
Due: none

Automated download for CIFAR-C and IN-R :sparkles:
  tests/datasets/test_cifar_c.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datasets/cifar_c.py
  torch_uncertainty/datasets/cifar_h.py
  torch_uncertainty/datasets/imagenet_r.py
Due: black, flake8, isort

Add forgotten ResNet and WideResNet baselines :bug:
  torch_uncertainty/baselines/resnet.py
  torch_uncertainty/baselines/wideresnet.py
Due: black, flake8, isort

Add temperature scaling (pp prototype) :sparkles:
  README.md
  tests/post_processing/__init__.py
  tests/post_processing/test_temperature_scaling.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

Fix typo in Readme :bug:
  README.md
Due: none

Add experiment scripts :sparkles:
  experiments/packed/resnet18_cifar100.py
  experiments/packed/resnet50_cifar10.py
  experiments/packed/resnet50_cifar100.py
Due: black, flake8, isort

Add same experiments for std :sparkles:
  experiments/standard/resnet18_cifar10.py
  experiments/standard/resnet18_cifar100.py
  experiments/standard/resnet50_cifar10.py
Due: black, flake8, isort

Update dependencies to resolve dep.bot issue :zap:
  poetry.lock
Due: none

Fix datamodules (ImageNet + CIFAR H) :bug:
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/tiny_imagenet.py
Due: black, flake8, isort

Factor arguments in routine :hammer: :fire:
  torch_uncertainty/baselines/batched/resnet.py
  torch_uncertainty/baselines/batched/wideresnet.py
  torch_uncertainty/baselines/masked/resnet.py
  torch_uncertainty/baselines/masked/wideresnet.py
  torch_uncertainty/baselines/packed/resnet.py
  torch_uncertainty/baselines/packed/wideresnet.py
  torch_uncertainty/baselines/standard/resnet.py
  torch_uncertainty/baselines/standard/wideresnet.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Fix very recent bug :bug:
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Draft an experiment script :construction:
  experiments/experiments.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

Update Classification routine to be no more abstract :hammer:
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Add unique baseline for ResNet :hammer:
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/classification/__init__.py
  torch_uncertainty/baselines/classification/resnet.py
Due: black, flake8, isort

Add unique experiment file for all ResNet on CIFAR10 :sparkles:
  experiments/classification/resnet_cifar10.py
Due: black, flake8, isort

Update WideResNet baseline :hammer:
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/batched/__init__.py
  torch_uncertainty/baselines/batched/resnet.py
  torch_uncertainty/baselines/batched/wideresnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/masked/__init__.py
  torch_uncertainty/baselines/masked/resnet.py
  torch_uncertainty/baselines/masked/wideresnet.py
  torch_uncertainty/baselines/mimo/__init__.py
  torch_uncertainty/baselines/packed/__init__.py
  torch_uncertainty/baselines/packed/resnet.py
  torch_uncertainty/baselines/packed/wideresnet.py
  torch_uncertainty/baselines/standard/__init__.py
  torch_uncertainty/baselines/standard/resnet.py
  torch_uncertainty/baselines/standard/wideresnet.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
Due: black, flake8, isort

Update experiments :hammer:
  experiments/batched/resnet18.py
  experiments/classification/cifar10/resnet.py
  experiments/classification/cifar100/resnet.py
  experiments/classification/readme.md
  experiments/classification/resnet_cifar10.py
  experiments/experiments.py
  experiments/masked/resnet18.py
  experiments/packed/resnet18_cifar10.py
  experiments/packed/resnet18_cifar100.py
  experiments/packed/resnet50_cifar10.py
  experiments/packed/resnet50_cifar100.py
  experiments/readme.md
  experiments/standard/resnet18_cifar10.py
  experiments/standard/resnet18_cifar100.py
  experiments/standard/resnet50_cifar10.py
  experiments/standard/resnet50_cifar100.py
  torch_uncertainty/__init__.py
Due: black, flake8, isort

Update tests accordingly to changes :hammer:
  tests/baselines/test_batched.py
  tests/baselines/test_masked.py
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
  tests/test_cli.py
Due: black, flake8, isort

Update API reference :books:
  docs/source/api.rst
Due: none

Add support for BatchEnsemble :sparkles:
  experiments/classification/cifar10/resnet.py
  experiments/classification/cifar100/resnet.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

Add BastchEnsembles & TempScaling to Rdme :book: Fix md violations :shirt:
  README.md
Due: none

Add wideresnet experiments :sparkles:
  experiments/classification/cifar10/wideresnet.py
  experiments/classification/cifar100/wideresnet.py
  experiments/classification/readme.md
Due: black, flake8, isort
