Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    types: [text]
  - id: check-toml
    name: check-toml
    language: system
    entry: check-toml
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: black
    name: black
    language: system
    entry: black
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    types: [python]
  - id: isort
    name: isort
    language: system
    entry: isort
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system

:bug: Resolve test issue
  tests/test_cli.py
Due: black, flake8, isort

:fire: Delete poetry.lock
  poetry.lock
Due: none

:shirt: Add G, ICN, and PIE rules & Lint
  pyproject.toml
  tests/transforms/test_transforms.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/layers/packed.py
  torch_uncertainty/models/deep_ensembles.py
Due: check-toml, black, flake8, isort

:shirt: Lint a part of N errors
  tests/datamodules/test_cifar10_datamodule.py
  tests/transforms/test_transforms.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

:shirt: Lint a part of S errors
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:shirt: Lint a part of RUF errors
  docs/source/conf.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/vgg/std.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:shirt: Add SIM rules & Lint
  pyproject.toml
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/mlp.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/wideresnet/std.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/transforms/pixmix.py
Due: check-toml, black, flake8, isort

:shirt: Add TID rules & Lint
  pyproject.toml
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_imagenet_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/datamodules/test_uci_regression_datamodule.py
  tests/models/test_deep_ensembles.py
  tests/routines/test_classification.py
  tests/routines/test_regression.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/mlp.py
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/vgg/packed.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
Due: check-toml, black, flake8, isort

:shirt: Lint a part of PL errors
  pyproject.toml
  tests/_dummies/dataset.py
  tests/test_utils.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet.py
  torch_uncertainty/losses.py
  torch_uncertainty/metrics/fpr95.py
  torch_uncertainty/metrics/variation_ratio.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
Due: check-toml, black, flake8, isort

:shirt: Add PERF rules & Lint
  pyproject.toml
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/models/deep_ensembles.py
Due: check-toml, black, flake8, isort

:shirt: Lint a part of FURB errors
  torch_uncertainty/transforms/pixmix.py
Due: black, flake8, isort

:shirt: Add part of D rules & Lint
  pyproject.toml
  tests/_dummies/dataset.py
  tests/metrics/test_brier_score.py
  tests/metrics/test_entropy.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/layers/batch_ensemble.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/layers/masksembles.py
  torch_uncertainty/metrics/brier_score.py
  torch_uncertainty/metrics/fpr95.py
  torch_uncertainty/metrics/variation_ratio.py
  torch_uncertainty/models/deep_ensembles.py
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/transforms/pixmix.py
  torch_uncertainty/utils/checkpoints.py
Due: check-toml, black, flake8, isort

add tests on cv datamodule + resnet feats forward + ts in classification routines + more on cli
  tests/datamodules/test_abstract_datamodule.py
  tests/models/test_resnets.py
  tests/routines/test_classification.py
  tests/test_cli.py
Due: black, flake8, isort

fix test results writer
  tests/test_cli.py
Due: black, flake8, isort

:white_check_mark: Add tests for WideResNets
  tests/models/test_wideresnets.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

fix error in test cv datamodule
  tests/datamodules/test_abstract_datamodule.py
Due: black, flake8, isort

more tests, cifar10 + fit with cv
  tests/_dummies/datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/routines/test_classification.py
Due: black, flake8, isort

:hammer: Refactor mixup init
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:white_check_mark: Continue improving cvg.
  tests/_dummies/model.py
  tests/routines/test_classification.py
  tests/test_cli.py
  tests/transforms/test_mixup.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

fix mixupio + tensor constructor for gpu
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

add refs for mixup methods
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

:books: Add references to docs & improve rdme.
  README.md
  docs/source/references.rst
Due: none

:fire: Remove pytest checks from pre-commits
  .pre-commit-config.yaml
Due: check-yaml

:shirt: Fix ruff rules on main code
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

:shirt: Fix ruff rules on test code
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/_dummies/dataset.py
  tests/datamodules/test_abstract_datamodule.py
  tests/routines/test_classification.py
  tests/test_cli.py
  tests/transforms/test_mixup.py
Due: black, flake8, isort

:shirt: Fix ruff format
  torch_uncertainty/metrics/fpr95.py
Due: black, flake8, isort

:books: Improve the contributing page
  CONTRIBUTING.md
  docs/source/contributing.rst
Due: none

:fire: Update pyproject.toml
  .coveragerc
  pyproject.toml
  setup.py
Due: check-toml, black, flake8, isort

:heavy_minus_sign: Make pandas optional
  torch_uncertainty/datasets/regression/uci_regression.py
Due: black, flake8, isort

:white_check_mark: Add tests for Sparsification and CE metrics
  tests/metrics/test_calibration_error.py
  tests/metrics/test_sparsification.py
  tests/test_utils.py
  torch_uncertainty/metrics/calibration_error.py
  torch_uncertainty/metrics/sparsification.py
  torch_uncertainty/plotting_utils.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:wrench: Remove poetry from workflows
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:fire: Remove poetry version in publish
  .github/workflows/pypi-publish.yml
Due: check-yaml

:fire: Remove poetry from the docs
  CONTRIBUTING.md
  README.md
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/installation.rst
Due: none

:bug: Fix import issue with UCIRegression
  torch_uncertainty/datasets/regression/uci_regression.py
Due: black, flake8, isort

:shirt: Format & Lint folder
  experiments/classification/cifar10/resnet.py
  experiments/classification/tiny-imagenet/resnet.py
  torch_uncertainty/datasets/classification/imagenet/base.py
Due: black, flake8, isort

:bug: Install sphinx theme via http
  pyproject.toml
Due: check-toml

:bug: Fix toml
  pyproject.toml
Due: check-toml

:shirt: Fix ruff rules in newly added tests
  tests/metrics/test_calibration_error.py
  tests/metrics/test_sparsification.py
Due: black, flake8, isort
