Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: system
    types: [text]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: system
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system
  - id: check-added-large-files
    name: check-added-large-files
    entry: check-added-large-files
    language: system
  - id: ruff-check
    name: ruff-check 
    entry: ruff check
    language: python
    types_or: [python, pyi]
    require_serial: true
    args: [--force-exclude, --fix, --exit-non-zero-on-fix, --output-format, concise]
    exclude: ^auto_tutorials_source/
  - id: ruff-format
    name: ruff-format
    entry: ruff format
    language: python
    types_or: [python, pyi]
    exclude: ^auto_tutorials_source/

:hammer: Resolve PR comments
  torch_uncertainty/metrics/regression/quantile_calibration.py
  torch_uncertainty/models/segmentation/unet/mimo.py
Due: none

:shirt: Improve coverage
  tests/_dummies/baseline.py
  tests/models/wrappers/test_mc_dropout.py
  torch_uncertainty/metrics/regression/quantile_calibration.py
  torch_uncertainty/models/wrappers/mc_dropout.py
  torch_uncertainty/models/wrappers/stochastic.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/utils/distributions.py
Due: none

:wrench: Bump package version to 0.6.0
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:hammer: Change `PackedLinear` implementation default value to `"einsum"`
  torch_uncertainty/layers/packed.py
Due: none

:books: Add docstrings to `QuantileCalibrationError` metric
  torch_uncertainty/metrics/regression/quantile_calibration.py
Due: none

:sparkles: Add UCR/UEA datasets support
  pyproject.toml
  torch_uncertainty/datamodules/classification/__init__.py
  torch_uncertainty/datamodules/classification/ucr_uea.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/ucr_uea.py
Due: check-toml

:fire: Remove PyPI token
  .github/workflows/pypi-publish.yml
Due: check-yaml

:lipstick: Add a missing space in warning
  torch_uncertainty/datasets/frost.py
Due: none

:white_check_mark: Adapt test
  tests/test_cli.py
Due: none

:fire: Remove baseline code
  docs/source/api.rst
  tests/baselines/__init__.py
  tests/baselines/test_batched.py
  tests/baselines/test_deep_ensembles.py
  tests/baselines/test_masked.py
  tests/baselines/test_mc_dropout.py
  tests/baselines/test_mimo.py
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/classification/__init__.py
  torch_uncertainty/baselines/classification/deep_ensembles.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/depth/__init__.py
  torch_uncertainty/baselines/depth/bts.py
  torch_uncertainty/baselines/regression/__init__.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/baselines/segmentation/__init__.py
  torch_uncertainty/baselines/segmentation/deeplab.py
  torch_uncertainty/baselines/segmentation/segformer.py
Due: none

:wrench: Add optionality test; fixes #187
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Add forgotten line
  .github/workflows/run-tests.yml
Due: check-yaml

:sparkles: Working TS classification pipeline
  experiments/classification/ucr-uea/configs/inception-time/standard.yaml
  experiments/classification/ucr-uea/main.py
  torch_uncertainty/datamodules/__init__.py
  torch_uncertainty/datamodules/classification/ucr_uea.py
  torch_uncertainty/datasets/classification/ucr_uea.py
  torch_uncertainty/models/classification/__init__.py
  torch_uncertainty/models/classification/inception_time/__init__.py
  torch_uncertainty/models/classification/inception_time/std.py
Due: check-yaml

:sparkles: Add `BatchConv1d` layer
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/batch_ensemble.py
Due: none

:sparkles: Add InceptionTime model variants
  torch_uncertainty/models/classification/__init__.py
  torch_uncertainty/models/classification/inception_time/__init__.py
  torch_uncertainty/models/classification/inception_time/batched.py
  torch_uncertainty/models/classification/inception_time/bayesian.py
  torch_uncertainty/models/classification/inception_time/mimo.py
  torch_uncertainty/models/classification/inception_time/packed.py
Due: none

:zap: Update ruff to 0.12.5
  pyproject.toml
Due: check-toml

:shirt: Format & lint
  auto_tutorial_source/Bayesian_Methods/tutorial_bayesian.py
  auto_tutorial_source/Bayesian_Methods/tutorial_mc_batch_norm.py
  auto_tutorial_source/Bayesian_Methods/tutorial_mc_dropout.py
  auto_tutorial_source/Bayesian_Methods/tutorial_muad_mc_drop.py
  auto_tutorial_source/Classification/tutorial_classification.py
  auto_tutorial_source/Classification/tutorial_distribution_shift.py
  auto_tutorial_source/Classification/tutorial_evidential_classification.py
  auto_tutorial_source/Classification/tutorial_ood_detection.py
  auto_tutorial_source/Classification/tutorial_pe_cifar10.py
  auto_tutorial_source/Data_Augmentation/tutorial_corruption.py
  auto_tutorial_source/Ensemble_Methods/tutorial_from_de_to_pe.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_conformal.py
  auto_tutorial_source/Post_Hoc_Methods/tutorial_scaler.py
  auto_tutorial_source/Regression/tutorial_der_cubic.py
  auto_tutorial_source/Regression/tutorial_probabilistic_regression.py
  auto_tutorial_source/Regression/tutorial_regression.py
  auto_tutorial_source/Segmentation/tutorial_muad_deep_en.py
  auto_tutorial_source/Segmentation/tutorial_muad_packed.py
  auto_tutorial_source/Segmentation/tutorial_muad_seg.py
  tests/test_optim_recipes.py
  torch_uncertainty/datamodules/classification/uci/uci_classification.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/layers/bayesian/__init__.py
  torch_uncertainty/layers/functional/packed.py
  torch_uncertainty/layers/modules.py
  torch_uncertainty/models/classification/vgg/configs.py
Due: none

:wrench: Ignore some coverage lack & misc
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:ok_hand: Comply with comments
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
Due: none

:shirt: Format
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:sparkles: All routines compute `num_params` and `num_flops` when testing
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
  torch_uncertainty/utils/evaluation_loop.py
Due: none

:hammer: Add dropout to InceptionTime models
  torch_uncertainty/models/classification/inception_time/batched.py
  torch_uncertainty/models/classification/inception_time/bayesian.py
  torch_uncertainty/models/classification/inception_time/mimo.py
  torch_uncertainty/models/classification/inception_time/packed.py
  torch_uncertainty/models/classification/inception_time/std.py
Due: none

:wrench: Update emails
  pyproject.toml
Due: check-toml

:hammer: Set InceptionTime dropout default value to `0.0`
  torch_uncertainty/models/classification/inception_time/batched.py
  torch_uncertainty/models/classification/inception_time/bayesian.py
  torch_uncertainty/models/classification/inception_time/mimo.py
  torch_uncertainty/models/classification/inception_time/packed.py
  torch_uncertainty/models/classification/inception_time/std.py
Due: none

:hammer: Refactor model tests
  tests/models/classification/__init__.py
  tests/models/classification/test_lenet.py
  tests/models/classification/test_resnets.py
  tests/models/classification/test_vggs.py
  tests/models/classification/test_wideresnets.py
Due: none
