Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:shirt: Improve code & coverage
  tests/post_processing/test_mc_batch_norm.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:bug: Fix lenet
  torch_uncertainty/models/lenet.py
Due: none

:white_check_mark: Improve coverage
  tests/models/test_lenet.py
  tests/post_processing/test_mc_batch_norm.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:fire: Remove useless Identity module
  tests/_dummies/model.py
  tests/post_processing/test_mc_batch_norm.py
  tests/post_processing/test_scalers.py
Due: none

:sparkles: Add activation fn parameter to resnets
  torch_uncertainty/models/resnet/std.py
Due: none

:shirt: Refine the classification routine
  auto_tutorials_source/tutorial_mc_batch_norm.py
  auto_tutorials_source/tutorial_mc_dropout.py
  torch_uncertainty/routines/classification.py
Due: none

:shirt: Separate metrics into classes
  torch_uncertainty/routines/classification.py
Due: none

:bug: Finish adding classes
  torch_uncertainty/__init__.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/routines/regression.py
Due: none

:bug: Fix error in csl routine
  torch_uncertainty/routines/classification.py
Due: none

:wrench: Parallelize tests
  .github/workflows/run-tests.yml
Due: check-yaml

:fire: Revert error
  .github/workflows/run-tests.yml
Due: check-yaml

:sparkles: Add new MCBNs and refactor
  tests/layers/test_normalization.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/layers/mc_batch_norm.py
  torch_uncertainty/layers/normalization.py
Due: none

:bug: Fix import error
  torch_uncertainty/models/lenet.py
  torch_uncertainty/post_processing/mc_batch_norm.py
Due: none

:bug: Fix import error again
  tests/post_processing/test_mc_batch_norm.py
Due: none

:sparkles: Enable custom validation for ImageNet DM
  torch_uncertainty/datamodules/imagenet.py
Due: none

:sparkles: Enable saving ckpts to fp16
  torch_uncertainty/utils/to_hub_format.py
Due: none

:sparkles: Enable loading safetensors
  torch_uncertainty/utils/hub.py
Due: none

:bug: Fix ImageNet training
  torch_uncertainty/datamodules/imagenet.py
Due: none

:shirt: Improve style handling
  docs/source/references.rst
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/mimo.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: none

:sparkles: Add bias control in ResNets
  tests/models/test_resnets.py
  tests/models/test_wideresnets.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/mimo.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: none

:bug: Fix autotutorial
  auto_tutorials_source/tutorial_scaler.py
Due: none

:sparkles: Add the MUAD dataset
  auto_tutorials_source/tutorial_scaler.py
  torch_uncertainty/datasets/muad.py
Due: none

:books: Add reference to MUAD
  docs/source/references.rst
Due: none

:wrench: Don't run test when changing docs files only
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Fix scalers
  torch_uncertainty/post_processing/calibration/matrix_scaler.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/post_processing/calibration/vector_scaler.py
Due: none

:zap: Update org. name
  CONTRIBUTING.md
  README.md
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/quickstart.rst
  pyproject.toml
Due: check-toml

:bug: Fix safetensors and fill corresponding cov.
  tests/test_utils.py
  torch_uncertainty/utils/hub.py
Due: none

:hammer: Simplify datamodules & improve cov.
  tests/datamodules/test_imagenet_datamodule.py
  tests/datasets/test_cifar.py
  tests/datasets/test_cifar_h.py
  tests/datasets/test_imagenet.py
  tests/datasets/test_imagenet_a.py
  tests/datasets/test_imagenet_o.py
  tests/datasets/test_imagenet_r.py
  tests/layers/test_normalization.py
  tests/models/test_wideresnets.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/cifar/cifar_h.py
  torch_uncertainty/datasets/classification/cifar/cifar_n.py
  torch_uncertainty/datasets/classification/fractals.py
  torch_uncertainty/datasets/classification/imagenet/base.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/datasets/classification/not_mnist.py
  torch_uncertainty/datasets/classification/openimage_o.py
  torch_uncertainty/datasets/frost.py
  torch_uncertainty/datasets/regression/uci_regression.py
Due: none

:white_check_mark: Improve MCBN cov.
  tests/layers/test_normalization.py
Due: none

:zap: Update actions
  .github/workflows/run-tests.yml
Due: check-yaml

:white_check_mark: Continue improving coverage
  tests/assets/dummy_indices.yaml
  tests/datamodules/test_imagenet_datamodule.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/routines/classification.py
Due: check-yaml

:shirt: Improve code and cov.
  tests/baselines/test_others.py
  tests/baselines/test_standard.py
  tests/datamodules/test_imagenet_datamodule.py
  tests/models/test_lenet.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/datamodules/abstract.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/utils/checkpoints.py
Due: none

:fix lenet
  torch_uncertainty/models/lenet.py
Due: none

:shirt: Refine metric names
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/regression.py
Due: none

:bug: Fix monitored metrics names
  torch_uncertainty/__init__.py
Due: none

:sparkles: Generalize FRN layers
  tests/layers/test_filter_response_norm.py
  torch_uncertainty/layers/filter_response_norm.py
  torch_uncertainty/layers/normalization.py
Due: none

:sparkles: Add top class Brier score
  tests/metrics/test_brier_score.py
  torch_uncertainty/metrics/brier_score.py
Due: none

:zap: Update PyPI version for release
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:white_check_mark: Improve coverage
  tests/baselines/test_standard.py
Due: none

:zap: Update ruff parameters to comply with deprecation
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
