Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    types: [text]
  - id: check-toml
    name: check-toml
    language: system
    entry: check-toml
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: black
    name: black
    language: system
    entry: black
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    types: [python]
  - id: isort
    name: isort
    language: system
    entry: isort
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system

Fix BatchEnsembles optimizer :bug:
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

Fix experiment name in cifar100 :bug:
  experiments/classification/cifar100/resnet.py
Due: black, flake8, isort

Add GG drive autodownload :sparkles: Add fractals dataset for pixmix :sparkles:
  torch_uncertainty/datasets/fractals.py
  torch_uncertainty/datasets/mixing_set.py
Due: black, flake8, isort

Fix drive download :bug: & remove print in fractals :bug:
  torch_uncertainty/datasets/fractals.py
  torch_uncertainty/utils/drive.py
Due: black, flake8, isort

Improve transforms (in classes) for pixmix :art:
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/transforms/cutout.py
  torch_uncertainty/transforms/generic.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

Remove useless google drive script :fire:
  torch_uncertainty/datasets/fractals.py
  torch_uncertainty/utils/drive.py
Due: black, flake8, isort

Add ImageNet variations :sparkles: Refactor datasets :hammer: Fix and add trivial tests :white_check_mark:
  tests/datasets/test_imagenet_a.py
  tests/datasets/test_imagenet_o.py
  tests/datasets/test_imagenet_r.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/cifar/__init__.py
  torch_uncertainty/datasets/cifar/cifar_c.py
  torch_uncertainty/datasets/cifar/cifar_h.py
  torch_uncertainty/datasets/imagenet/__init__.py
  torch_uncertainty/datasets/imagenet/base.py
  torch_uncertainty/datasets/imagenet/imagenet_a.py
  torch_uncertainty/datasets/imagenet/imagenet_o.py
  torch_uncertainty/datasets/imagenet/imagenet_r.py
  torch_uncertainty/datasets/imagenet/tiny_imagenet.py
  torch_uncertainty/datasets/imagenet_o.py
Due: black, flake8, isort

Add ImageNet-A to references :book:
  docs/source/references.rst
Due: none

Revert del. of PL override of None num_epochs => 1k epochs :hammer:
  torch_uncertainty/__init__.py
Due: black, flake8, isort

Add blog post link to ReadMe :book:
  README.md
Due: none

Improve Pixmix :construction:
  torch_uncertainty/transforms/pixmix.py
Due: black, flake8, isort

Improve Temp. Scaler and add tests :white_check_mark:
  tests/post_processing/test_temperature_scaler.py
  tests/post_processing/test_temperature_scaling.py
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

Add forgotten modification :bug:
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

Use get_procedure in opt. proc. tests :heavy_check_mark:
  tests/test_optimization_procedures.py
Due: black, flake8, isort

Second CLI test with different arguments :heavy_check_mark:
  tests/test_cli.py
Due: black, flake8, isort

Fix MNIST datamodule :bug:
  torch_uncertainty/datamodules/mnist.py
Due: black, flake8, isort

Factorize OOD criterion arguments :hammer:
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
Due: black, flake8, isort

Fix num_estimator duplicate :bug:
  torch_uncertainty/baselines/classification/wideresnet.py
Due: black, flake8, isort

Add groups to all networks :sparkles: Fix tests :heavy_check_mark:
  tests/baselines/test_batched.py
  tests/baselines/test_packed.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/layers/batchens_layers.py
  torch_uncertainty/layers/masksembles_layers.py
  torch_uncertainty/models/resnet/batched.py
  torch_uncertainty/models/resnet/masked.py
  torch_uncertainty/models/resnet/packed.py
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Remove datasets/* from coverage :wrench:
  .coveragerc
Due: none

Polish baselines and layer argument checks :hammer:
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/layers/masksembles_layers.py
  torch_uncertainty/layers/packed_layers.py
Due: black, flake8, isort

Add docstrings to baselines :bulb:
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
Due: black, flake8, isort

Simplify parser arguments for baselines :hammer:
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/utils/parser_addons.py
Due: black, flake8, isort

Solve review comments :ok_hand:
  experiments/readme.md
  torch_uncertainty/layers/packed_layers.py
Due: black, flake8, isort

Add forgotten consistency check :ok_hand:
  torch_uncertainty/layers/packed_layers.py
Due: black, flake8, isort

Move two dep. into dev :wrench: & update :zap:
  poetry.lock
  pyproject.toml
Due: check-toml

Add tests for layers and opt. proc. :white_check_mark
  tests/layers/test_batched_layers.py
  tests/layers/test_masked_layers.py
  tests/layers/test_packed_layers.py
  tests/test_optimization_procedures.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

Add tests for ensemble classif. :white_check_mark: Add tests for baselines :white_check_mark:
  tests/_dummies/__init__.py
  tests/_dummies/baseline.py
  tests/_dummies/model.py
  tests/baselines/test_resnet.py
  tests/layers/test_packed_layers.py
  tests/routines/__init__.py
  tests/routines/test_classification.py
  tests/test_cli.py
Due: black, flake8, isort

Fix transforms :bug: Add tests for transforms :white_check_mark:
  tests/test_optimization_procedures.py
  tests/transforms/test_cutout.py
  tests/transforms/test_transforms.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

Add update procedure :book:
  docs/source/installation.rst
Due: none

Add update procedure :book: Fix link :bug:
  docs/source/contributing.rst
  docs/source/installation.rst
Due: none

Update Quickstart according to new baselines :books:
  docs/source/quickstart.rst
Due: none

Change version for next release :wrench:
  pyproject.toml
Due: check-toml

Add contribution page and rework readme :book:
  CONTRIBUTING.md
  README.md
  docs/source/references.rst
Due: none

Improve model's coverage :white_check_mark:
  tests/baselines/test_batched.py
  tests/baselines/test_masked.py
  tests/baselines/test_packed.py
Due: black, flake8, isort

Try removing coverage count for pretrained lines :shirt:
  torch_uncertainty/models/resnet/packed.py
Due: black, flake8, isort

Add the deep ensembles model :sparkles:
  torch_uncertainty/models/deep_ensembles.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

Start support for bayesian layers :sparkles:
  tests/layers/test_bayesian_layers.py
  torch_uncertainty/layers/bayesian_layers/__init__.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/bayes_linear.py
  torch_uncertainty/layers/bayesian_layers/sampler.py
Due: black, flake8, isort

Improve tests for bayesian layers :white_check_mark:
  tests/layers/test_bayesian_layers.py
  tests/transforms/test_cutout.py
Due: black, flake8, isort

Fix bayesian layers :bug: Improve tests :white_check_mark:
  tests/layers/test_bayesian_layers.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/bayes_linear.py
Due: black, flake8, isort
