Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    language: system
    entry: end-of-file-fixer
    types: [text]
  - id: check-toml
    name: check-toml
    language: system
    entry: check-toml
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: black
    name: black
    language: system
    entry: black
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: flake8
    name: flake8
    language: system
    entry: flake8
    types: [python]
  - id: isort
    name: isort
    language: system
    entry: isort
    types: [python]
    exclude: ^auto_tutorials_source/
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system

:bug: Fix BrierScore update when handling binary classification
  torch_uncertainty/metrics/brier_score.py
Due: black, flake8, isort

:bug: Fix DeepEnsembles model
  torch_uncertainty/models/deep_ensembles.py
Due: black, flake8, isort

:sparkles: DeepEnsemble baseline on classification tasks
  experiments/classification/cifar10/deep_ensembles.py
  experiments/classification/cifar100/deep_ensembles.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/__init__.py
  torch_uncertainty/baselines/classification/__init__.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/baselines/regression/__init__.py
  torch_uncertainty/baselines/regression/mlp.py
Due: black, flake8, isort

:heavy_plus_sign: pandas is now a dependency of torch-uncertainty
  poetry.lock
  pyproject.toml
  setup.py
Due: check-toml, black, flake8, isort

:sparkles: DeepEnsemble baseline on regression tasks
  experiments/regression/uci_datasets/deep_ensemble.py
  experiments/regression/uci_datasets/kin8nm.py
  torch_uncertainty/__init__.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/datamodules/__init__.py
Due: black, flake8, isort

:ok_hand: Fix PR comments
  experiments/classification/mnist/bayesian_lenet.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/layers/bayesian_layers/bayes_conv.py
  torch_uncertainty/layers/bayesian_layers/bayes_linear.py
  torch_uncertainty/layers/bayesian_layers/sampler.py
  torch_uncertainty/metrics/nll.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/optimization_procedures.py
Due: black, flake8, isort

:bug: Fix TinyImageNet loader
  torch_uncertainty/datasets/imagenet/tiny_imagenet.py
Due: black, flake8, isort

:art: Further improve Tiny-ImageNet
  torch_uncertainty/datasets/imagenet/tiny_imagenet.py
Due: black, flake8, isort

:bug: Fix validation split in C10/100
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
Due: black, flake8, isort

:hammer: misc
  docs/source/conf.py
  experiments/classification/mnist/bayesian_lenet.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datasets/uci_regression.py
Due: black, flake8, isort

:wrench: Relax contraints on the packages
  README.md
  poetry.lock
  pyproject.toml
Due: check-toml

:heavy_check_mark: Fix flake8 error
  torch_uncertainty/datasets/uci_regression.py
Due: black, flake8, isort

:wrench: Force torch=1.13 install on GitHub server
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: Force torch cpu install on GitHub server
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:sparkles: Add ResNet exp. on TinyImageNet
  experiments/classification/tiny-imagenet/resnet.py
Due: black, flake8, isort

:wrench: Improve toml and try cpu fix
  .github/workflows/build-docs.yml
  poetry.lock
  pyproject.toml
  setup.py
Due: check-toml, check-yaml, black, flake8, isort

:wrench: fix workflow
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: fix workflow
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: try another fix
  .github/workflows/build-docs.yml
Due: check-yaml

:wrench: try another fix
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Fix missing option
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: Try another fix
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: Last fix
  .github/workflows/run-tests.yml
Due: check-yaml

:wrench: Add config file for pylance
  pyrightconfig.json
Due: none

:white_check_mark: Add regression tests :bug: Fix regression target repeat Add regression dummies
  tests/_dummies/__init__.py
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/_dummies/dataset.py
  tests/_dummies/test_dummy_dataset.py
  tests/datamodules/test_cifar100_datamodule.py
  tests/datamodules/test_cifar10_datamodule.py
  tests/datamodules/test_imagenet_datamodule.py
  tests/datamodules/test_mnist_datamodule.py
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/routines/test_classification.py
  tests/routines/test_regression.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort

:white_check_mark: Add GNLL test :book: Fix GNN documentation
  tests/metrics/test_nll.py
  torch_uncertainty/metrics/__init__.py
  torch_uncertainty/metrics/nll.py
Due: black, flake8, isort

:wrench: Add coverage ignore to ckpting methods
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/regression/mlp.py
Due: black, flake8, isort

:white_check_mark: Add Standard and Packed tests for MLP
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
Due: black, flake8, isort

:bug: Fix flake8 issue
  torch_uncertainty/baselines/classification/vgg.py
  torch_uncertainty/baselines/classification/wideresnet.py
  torch_uncertainty/baselines/regression/mlp.py
Due: black, flake8, isort

:wrench: Remove setup from coverage
  .coveragerc
Due: none

:bug: Final flake8 fix
  tests/baselines/test_packed.py
  tests/baselines/test_standard.py
  tests/metrics/test_nll.py
Due: black, flake8, isort

:white_check_mark: Improve (G)NLL tests
  tests/metrics/test_nll.py
Due: black, flake8, isort

:white_check_mark: Improve metrics tests' coverage
  tests/metrics/test_brier_score.py
  tests/metrics/test_mutual_information.py
  tests/metrics/test_nll.py
  tests/metrics/test_variation_ratio.py
  torch_uncertainty/metrics/variation_ratio.py
Due: black, flake8, isort

:white_check_mark: Ignore imprecise cumsum in coverage
  torch_uncertainty/metrics/fpr95.py
Due: black, flake8, isort

:sparkles: Improve temperature scaler
  torch_uncertainty/post_processing/temperature_scaler.py
Due: black, flake8, isort

:book: Some doc improvements
  README.md
  docs/source/contributing.rst
  docs/source/introduction_uncertainty.rst
  experiments/classification/README.md
Due: none

:shirt: Fix typo in Readme
  README.md
Due: none

:white_check_mark: Improve tests & misc
  experiments/regression/uci_datasets/mlp-kin8nm.py
  tests/datamodules/test_uci_regression_datamodule.py
  tests/layers/test_packed_layers.py
  tests/metrics/test_disagreement.py
  tests/metrics/test_jensen_shannon_divergence.py
  tests/post_processing/test_temperature_scaler.py
  tests/test_cli.py
  tests/test_optimization_procedures.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/optimization_procedures.py
  torch_uncertainty/utils/hub.py
Due: black, flake8, isort

:bug: Fix regression & improve tests
  experiments/README.md
  experiments/classification/README.md
  tests/_dummies/baseline.py
  tests/routines/test_regression.py
  torch_uncertainty/routines/regression.py
Due: black, flake8, isort
