Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: system
    types: [text]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: system
    types: [toml]
  - id: check-yaml
    name: check-yaml
    language: system
    entry: check-yaml
    types: [yaml]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: system
  - id: check-added-large-files
    name: check-added-large-files
    entry: check-added-large-files
    language: system
  - id: ruff-check
    name: ruff-check 
    entry: ruff check
    language: python
    types_or: [python, pyi]
    require_serial: true
    args: [--force-exclude, --fix, --exit-non-zero-on-fix, --output-format, concise]
    exclude: ^auto_tutorials_source/
  - id: ruff-format
    name: ruff-format
    entry: ruff format
    language: python
    types_or: [python, pyi]
    exclude: ^auto_tutorials_source/

attempt to fix coverage
  tests/routines/test_classification.py
Due: none

fixed far ood logging
  torch_uncertainty/routines/classification.py
Due: none

fixed shift datasets for IM1K
  torch_uncertainty/datamodules/classification/imagenet.py
  torch_uncertainty/datasets/classification/imagenet/base.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_c.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
Due: none

:wrench: Constrain python version <3.14
  pyproject.toml
  uv.lock
Due: check-toml

:zap: Update lockfile
  uv.lock
Due: none

:zap: Allow for torch 2.9
  pyproject.toml
Due: check-toml

:hammer: Use uv in workflows
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
Due: check-yaml

:book: Add a few details to the documentation
  docs/source/contributing.rst
  docs/source/installation.rst
Due: none

:bug: Fix the curvlinops/laplace-torch issue & rollback torch to 2.8
  pyproject.toml
  uv.lock
Due: check-toml

:shirt: Fix ruff's complaint UP035
  src/torch_uncertainty/callbacks/checkpoint.py
  src/torch_uncertainty/utils/cli.py
Due: none

Revert ":shirt: Fix ruff's complaint UP035"
  src/torch_uncertainty/callbacks/checkpoint.py
  src/torch_uncertainty/utils/cli.py
Due: none

:wrench: Do not break python 3.10
  pyproject.toml
Due: check-toml

:zap: fix codecov deprecation
  .github/workflows/run-tests.yml
Due: check-yaml

:zap: Bump to version 0.8 & update packages
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: check-toml

:wrench: Lock lightning version
  pyproject.toml
  uv.lock
Due: check-toml

:zap: Update ruff to its latest version
  pyproject.toml
  src/torch_uncertainty/metrics/classification/brier_score.py
  src/torch_uncertainty/metrics/classification/categorical_nll.py
  src/torch_uncertainty/metrics/classification/disagreement.py
  src/torch_uncertainty/metrics/classification/entropy.py
  src/torch_uncertainty/metrics/classification/mutual_information.py
  src/torch_uncertainty/metrics/classification/set_size.py
  src/torch_uncertainty/metrics/classification/variation_ratio.py
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/test_abstract_datamodule.py
  tests/layers/test_bayesian.py
  tests/losses/test_bayesian.py
  tests/losses/test_classification.py
  tests/losses/test_regression.py
  tests/metrics/classification/test_brier_score.py
  tests/metrics/classification/test_calibration.py
  tests/metrics/classification/test_risk_coverage.py
  tests/metrics/classification/test_set_size.py
  tests/metrics/regression/test_depth.py
  tests/metrics/regression/test_inverse.py
  tests/models/classification/test_resnets.py
  tests/models/classification/test_vggs.py
  tests/models/test_deeplab.py
  tests/models/wrappers/test_ema.py
  tests/models/wrappers/test_mc_dropout.py
  tests/models/wrappers/test_swa.py
  tests/models/wrappers/test_zero.py
  tests/post_processing/test_conformal.py
  tests/post_processing/test_scalers.py
  tests/routines/test_classification.py
  tests/routines/test_pixel_regression.py
  tests/routines/test_regression.py
  tests/routines/test_segmentation.py
  uv.lock
Due: check-toml

:book: Update the CLI guide
  docs/source/cli_guide.rst
Due: none

:racehorse: Download C10-C from HF, avoid redownloading H&N
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/cifar/cifar_h.py
  torch_uncertainty/datasets/classification/cifar/cifar_n.py
Due: none

:wrench: Cache tutorials
  .github/workflows/build-docs.yml
Due: check-yaml

:bug: Negation issue
  .github/workflows/build-docs.yml
Due: check-yaml

:memo: Add CITATION.cff and Citation section in README.md
  CITATION.cff
  README.md
Due: none

:bug: Fix CITATION.cff
  CITATION.cff
Due: none

:wrench: the cache now depends on the branch name
  .github/workflows/build-docs.yml
Due: check-yaml

:zap: Update GH actions' versions
  .github/workflows/build-docs.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:bug: try to fix cache path
  .github/workflows/build-docs.yml
  .github/workflows/run-tests.yml
Due: check-yaml

:zap: Update dependencies to solve security issue
  uv.lock
Due: none

:bug: download kin8nm from HF
  src/torch_uncertainty/datasets/regression/uci_regression.py
Due: none
