Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

:sparkles: Improve SWAG code
  torch_uncertainty/models/wrappers/swag.py
Due: none

:shirt: Minor fix
  torch_uncertainty/layers/packed.py
  torch_uncertainty/models/wrappers/swag.py
Due: none

:wrench: Fix online install
  pyproject.toml
Due: check-toml

:sparkles: Add a full scheduler for SWA & SWAG & update config
  experiments/classification/mnist/configs/lenet.yaml
  experiments/classification/mnist/configs/lenet_swa.yaml
  experiments/classification/mnist/configs/lenet_swag.yaml
  experiments/classification/mnist/lenet.py
  torch_uncertainty/optim_recipes.py
Due: check-yaml

:bug: Improve SWA & SWAG
  torch_uncertainty/models/wrappers/swa.py
  torch_uncertainty/models/wrappers/swag.py
  torch_uncertainty/routines/classification.py
Due: none

:hammer: Refactor stochastic models
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_mc_batch_norm.py
  torch_uncertainty/layers/bayesian/bayes_conv.py
  torch_uncertainty/layers/bayesian/bayes_linear.py
  torch_uncertainty/layers/bayesian/sampler.py
  torch_uncertainty/layers/distributions.py
  torch_uncertainty/models/__init__.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/utils.py
  torch_uncertainty/models/wrappers/__init__.py
  torch_uncertainty/models/wrappers/stochastic.py
  torch_uncertainty/models/wrappers/swa.py
Due: none

:bug: Fix Stochastic MLP error
  tests/models/test_stochastic_model.py
  torch_uncertainty/models/mlp.py
Due: none

:books: Update documentation
  docs/source/api.rst
  docs/source/references.rst
Due: none

:books: Fix bugs in docs
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/routines/segmentation.py
Due: none

:white_check_mark: Add first battery of tests
  .github/workflows/run-tests.yml
  docs/source/api.rst
  tests/_dummies/model.py
  tests/models/test_stochastic_model.py
  tests/models/wrappers/__init__.py
  tests/models/wrappers/test_checkpoint_ensemble.py
  tests/models/wrappers/test_deep_ensembles.py
  tests/models/wrappers/test_ema.py
  tests/models/wrappers/test_mc_dropout.py
  tests/models/wrappers/test_stochastic_model.py
  tests/models/wrappers/test_swa.py
  tests/post_processing/test_laplace.py
  torch_uncertainty/models/wrappers/stochastic.py
  torch_uncertainty/models/wrappers/swa.py
  torch_uncertainty/models/wrappers/swag.py
  torch_uncertainty/post_processing/__init__.py
  torch_uncertainty/post_processing/laplace.py
Due: check-yaml

:heavy_check_mark: Fix tests
  tests/_dummies/baseline.py
  tests/routines/test_classification.py
Due: none

:white_check_mark: Improve SWAG tests
  tests/models/wrappers/test_swa.py
Due: none

:white_check_mark: Improve Stochastic tests
  tests/models/wrappers/test_stochastic_model.py
Due: none

:shirt: Minor changes
  torch_uncertainty/metrics/classification/fpr95.py
  torch_uncertainty/routines/segmentation.py
Due: none

:white_check_mark: Finetune tests
  tests/layers/test_distributions.py
  tests/models/test_lenet.py
  tests/models/wrappers/test_stochastic_model.py
  tests/post_processing/test_laplace.py
  tests/post_processing/test_mc_batch_norm.py
  tests/test_optim_recipes.py
Due: none

:ok_hand: Take review comments into account
  auto_tutorials_source/tutorial_bayesian.py
  docs/source/references.rst
Due: none

:books: Improve documentation & tutorials
  auto_tutorials_source/tutorial_corruption.py
  auto_tutorials_source/tutorial_der_cubic.py
  auto_tutorials_source/tutorial_mc_batch_norm.py
  auto_tutorials_source/tutorial_mc_dropout.py
  auto_tutorials_source/tutorial_pe_cifar10.py
  auto_tutorials_source/tutorial_scaler.py
  docs/source/api.rst
  docs/source/references.rst
  torch_uncertainty/routines/segmentation.py
Due: none

:book: Add a tutorial on Packed-Ensembles
  auto_tutorials_source/tutorial_from_de_to_pe.py
Due: none

:white_check_mark: Improve tests
  tests/datamodules/classification/test_cifar10.py
  tests/datamodules/classification/test_cifar100.py
  tests/datamodules/classification/test_imagenet.py
  tests/datamodules/classification/test_mnist.py
  tests/datamodules/classification/test_tiny_imagenet.py
  tests/datamodules/classification/test_uci_regression.py
  tests/models/wrappers/test_stochastic.py
  tests/models/wrappers/test_swa.py
  torch_uncertainty/baselines/classification/deep_ensembles.py
Due: none

:shirt: Improve ReadMe
  README.md
Due: none

:bug: Fix SWAG
  tests/models/wrappers/test_swa.py
  torch_uncertainty/models/wrappers/swag.py
Due: none

:sparkles: Propagate changes to the other routines & update tests
  experiments/classification/mnist/configs/bayesian_lenet.yaml
  experiments/classification/mnist/configs/lenet_swamerged.yaml
  experiments/segmentation/camvid/configs/segformer.yaml
  experiments/segmentation/cityscapes/configs/deeplab.yaml
  experiments/segmentation/cityscapes/configs/segformer.yaml
  experiments/segmentation/muad/configs/segformer.yaml
  tests/_dummies/__init__.py
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/_dummies/dataset.py
  tests/datamodules/test_depth.py
  tests/routines/test_pixel_regression.py
  tests/routines/test_regression.py
  tests/routines/test_segmentation.py
  torch_uncertainty/baselines/regression/mlp.py
  torch_uncertainty/baselines/segmentation/deeplab.py
  torch_uncertainty/baselines/segmentation/segformer.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
  torch_uncertainty/utils/distributions.py
Due: check-yaml

:hammer: rename inference_size to eval_size
  experiments/depth/kitti/configs/bts.yaml
  experiments/depth/nyu/configs/bts.yaml
  experiments/segmentation/cityscapes/configs/deeplab.yaml
  experiments/segmentation/cityscapes/configs/segformer.yaml
  experiments/segmentation/muad/configs/segformer.yaml
  torch_uncertainty/datamodules/depth/base.py
  torch_uncertainty/datamodules/depth/kitti.py
  torch_uncertainty/datamodules/depth/muad.py
  torch_uncertainty/datamodules/depth/nyu.py
  torch_uncertainty/datamodules/segmentation/cityscapes.py
  torch_uncertainty/datamodules/segmentation/muad.py
Due: check-yaml

:bug: Fix regression routines
  tests/_dummies/baseline.py
  tests/_dummies/model.py
  tests/routines/test_pixel_regression.py
  tests/routines/test_regression.py
  tests/routines/test_segmentation.py
  torch_uncertainty/losses.py
  torch_uncertainty/metrics/regression/nll.py
  torch_uncertainty/optim_recipes.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
  torch_uncertainty/utils/distributions.py
Due: none

:sparkles: Add first version for ABNN
  torch_uncertainty/layers/bayesian/abnn.py
  torch_uncertainty/post_processing/abnn.py
Due: none

:white_check_mark: Improve coverage
  tests/_dummies/__init__.py
  tests/_dummies/baseline.py
  tests/_dummies/datamodule.py
  tests/routines/test_classification.py
  tests/routines/test_pixel_regression.py
  tests/routines/test_segmentation.py
  tests/test_optim_recipes.py
  torch_uncertainty/post_processing/abnn.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/utils/hub.py
Due: none

:wrench: Lock plt version
  pyproject.toml
Due: check-toml

:bug: Minor changes
  tests/routines/test_pixel_regression.py
  tests/routines/test_segmentation.py
  torch_uncertainty/post_processing/abnn.py
Due: none

:fire: Remove webdataset
  pyproject.toml
Due: check-toml

:books: Improve API Page
  docs/source/api.rst
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/imagenet/__init__.py
  torch_uncertainty/datasets/classification/imagenet/base.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_c.py
  torch_uncertainty/datasets/fractals.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/routines/pixel_regression.py
  torch_uncertainty/routines/regression.py
  torch_uncertainty/routines/segmentation.py
Due: none

:white_check_mark: Slightly improve tests
  tests/_dummies/baseline.py
  tests/routines/test_segmentation.py
  torch_uncertainty/post_processing/abnn.py
Due: none

:zap: Bump version
  docs/source/conf.py
  pyproject.toml
Due: check-toml

:shirt: Fix emojis
  README.md
Due: none

:shirt: Fix typos in tutorials
  auto_tutorials_source/tutorial_bayesian.py
  auto_tutorials_source/tutorial_corruption.py
  auto_tutorials_source/tutorial_evidential_classification.py
  auto_tutorials_source/tutorial_from_de_to_pe.py
Due: none

:shirt: Add NPY rule
  pyproject.toml
  tests/_dummies/dataset.py
  tests/transforms/test_image.py
  torch_uncertainty/layers/masksembles.py
  torch_uncertainty/transforms/corruptions.py
  torch_uncertainty/transforms/cutout.py
  torch_uncertainty/transforms/mixup.py
  torch_uncertainty/transforms/pixmix.py
  torch_uncertainty/utils/trainer.py
Due: check-toml

:shirt: Restore ruff's conciseness on commits
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
Due: check-yaml

:shirt: Improve SWAG docs.
  torch_uncertainty/models/wrappers/swag.py
Due: none

:sparkles: Improve dropout wrapper
  auto_tutorials_source/tutorial_mc_dropout.py
  tests/models/wrappers/test_mc_dropout.py
  torch_uncertainty/models/lenet.py
  torch_uncertainty/models/wrappers/mc_dropout.py
Due: none

:bug: Fix TU issues with bare install
  torch_uncertainty/datasets/nyu.py
  torch_uncertainty/datasets/regression/uci_regression.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
