Repository ENSTA-U2IS-AI/torch-uncertainty: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black, flake8, isort

check-toml:
  name: check-toml
  language: system
  entry: check-toml

check-yaml:
  name: check-yaml
  language: system
  entry: check-yaml

black:
  name: black
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

isort:
  name: isort
  language: system
  entry: isort

add mc dropout
  tests/models/test_resnets.py
  torch_uncertainty/baselines/classification/resnet.py
  torch_uncertainty/models/resnet/std.py
Due: black, flake8, isort

add more tests
  tests/baselines/test_resnet.py
Due: black, flake8, isort

add reference to the paper
  docs/source/references.rst
Due: none

minor fix
  torch_uncertainty/models/resnet/std.py
Due: black, flake8, isort

improve code readability and add `enable_last_layer_dropout` argument
  torch_uncertainty/models/resnet/std.py
Due: black, flake8, isort

add a tutorial for mc dropout
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

:zap: Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

:shirt: Standardize WideResNets
  torch_uncertainty/models/wideresnet/batched.py
  torch_uncertainty/models/wideresnet/masked.py
  torch_uncertainty/models/wideresnet/packed.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

add mixup
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/__init__.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

update mc dropout tutorial
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

add expected outcome when all four parameters and the target are set to 1
  tests/test_losses.py
Due: black, flake8, isort

fix kernel warping
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

:hammer: Refactor the datasets folder & :white_check_mark: Fix loss test
  tests/datamodules/test_tiny_imagenet_datamodule.py
  tests/datasets/test_cifar_c.py
  tests/datasets/test_cifar_h.py
  tests/datasets/test_imagenet_a.py
  tests/datasets/test_imagenet_o.py
  tests/datasets/test_imagenet_r.py
  tests/datasets/test_tiny_imagenet.py
  tests/test_losses.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/imagenet.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/datasets/__init__.py
  torch_uncertainty/datasets/aggregated_dataset.py
  torch_uncertainty/datasets/classification/__init__.py
  torch_uncertainty/datasets/classification/cifar/__init__.py
  torch_uncertainty/datasets/classification/cifar/cifar_c.py
  torch_uncertainty/datasets/classification/cifar/cifar_h.py
  torch_uncertainty/datasets/classification/cifar/cifar_n.py
  torch_uncertainty/datasets/classification/fractals.py
  torch_uncertainty/datasets/classification/imagenet/__init__.py
  torch_uncertainty/datasets/classification/imagenet/base.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_a.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_c.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_o.py
  torch_uncertainty/datasets/classification/imagenet/imagenet_r.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet.py
  torch_uncertainty/datasets/classification/imagenet/tiny_imagenet_c.py
  torch_uncertainty/datasets/classification/mnist_c.py
  torch_uncertainty/datasets/classification/not_mnist.py
  torch_uncertainty/datasets/regression/uci_regression.py
Due: black, flake8, isort

:book: Add details on datamodules in contributing
  CONTRIBUTING.md
  docs/source/contributing.rst
Due: none

:hammer: Adapt CubicDM as a ds & Add test & Refine tutorial
  auto_tutorials_source/tutorial_der_cubic.py
  tests/datasets/test_regression_toy.py
  torch_uncertainty/datamodules/cubic_regression.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/datasets/regression/__init__.py
  torch_uncertainty/datasets/regression/toy.py
Due: black, flake8, isort

:sparkles: PackedConv1d is now available
  tests/layers/test_packed_ensemble.py
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/packed.py
Due: black, flake8, isort

:bulb: Slight update in PackedConv1d docstring
  torch_uncertainty/layers/packed.py
Due: black, flake8, isort

:sparkles: PackedConv3d is now available
  tests/layers/test_packed_ensemble.py
  torch_uncertainty/layers/__init__.py
  torch_uncertainty/layers/packed.py
Due: black, flake8, isort

:sparkles: Refine TinyImageNet and UCIRegression DMs
  torch_uncertainty/datamodules/tiny_imagenet.py
  torch_uncertainty/datamodules/uci_regression.py
Due: black, flake8, isort

:shirt: Rename tutorial
  README.md
  auto_tutorials_source/tutorial_der_cubic.py
Due: flake8

:shirt: Fix paper year
  auto_tutorials_source/tutorial_der_cubic.py
Due: flake8

minor fix
  auto_tutorials_source/tutorial_mc_dropout.py
Due: flake8

temp scaling
  experiments/classification/cifar10/resnet.py
  torch_uncertainty/__init__.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/post_processing/calibration/scaler.py
  torch_uncertainty/post_processing/calibration/temperature_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/mixup.py
Due: black, flake8, isort

move `enable_dropout` to utils
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/utils.py
Due: black, flake8, isort

extend mc-dropout to vgg and wideresnet
  tests/models/test_monte_carlo_dropout.py
  tests/models/test_vggs.py
  tests/models/test_wideresnets.py
  torch_uncertainty/models/resnet/std.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/models/vgg/std.py
  torch_uncertainty/models/wideresnet/mimo.py
  torch_uncertainty/models/wideresnet/std.py
Due: black, flake8, isort

:book: Mention git commit emojis in contributing
  CONTRIBUTING.md
  README.md
  docs/source/contributing.rst
Due: none

:sparkles: Add histogram and calibration plots
  torch_uncertainty/visualization.py
Due: black, flake8, isort

:sparkles: Use cal. plots in classification routine Fix cal plots for binary classification
  torch_uncertainty/routines/classification.py
  torch_uncertainty/transforms/transforms.py
  torch_uncertainty/visualization.py
Due: black, flake8, isort

:books: Add calibration plots to the scaler tutorial
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:sparkles: Plot ood criteria
  torch_uncertainty/routines/classification.py
  torch_uncertainty/visualization.py
Due: black, flake8, isort

:zap: Update dependencies & add seaborn
  poetry.lock
  pyproject.toml
Due: check-toml

:heavy_minus_sign: Remove seaborn and improve plots
  poetry.lock
  pyproject.toml
  torch_uncertainty/visualization.py
Due: check-toml, black, flake8, isort

:sparkles: Add % of data in cal. bins & improve plot
  auto_tutorials_source/tutorial_scaler.py
  torch_uncertainty/routines/classification.py
  torch_uncertainty/visualization.py
Due: black, flake8, isort

:books: Slight improvements to the temp scaler nb
  auto_tutorials_source/tutorial_scaler.py
Due: flake8

:shirt: Slightly improve transformations
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

:bug: Fix cls. ens. routine for entropy & elbo
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:sparkles: Improve coverage and code quality
  tests/_dummies/datamodule.py
  tests/baselines/test_deep_ensembles.py
  tests/datamodules/test_uci_regression_datamodule.py
  tests/layers/test_packed_ensemble.py
  tests/metrics/test_brier_score.py
  tests/routines/test_classification.py
  tests/test_losses.py
  torch_uncertainty/baselines/deep_ensembles.py
  torch_uncertainty/datamodules/cifar10.py
  torch_uncertainty/datamodules/cifar100.py
  torch_uncertainty/datamodules/mnist.py
  torch_uncertainty/datamodules/uci_regression.py
  torch_uncertainty/losses.py
  torch_uncertainty/models/vgg/base.py
  torch_uncertainty/transforms/transforms.py
Due: black, flake8, isort

:hammer: Rename files
  auto_tutorials_source/tutorial_scaler.py
  torch_uncertainty/plotting_utils.py
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

:bug: Fix merge
  torch_uncertainty/routines/classification.py
Due: black, flake8, isort

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  black: any of: \.py$, but not: ^auto_tutorials_source/
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^auto_tutorials_source/
